.main-right {background:none;}
header {background:url(../img/ie8/header_bg.png) repeat-x bottom;height:111px;}
.background {position: fixed;top:0;height:100%;width:100%;background:url(../img/ie8/bg.jpg) no-repeat center bottom;}
.tmall {background:url(../img/ie/tmall.png) no-repeat;width:142px;height:62px;border:none;}
.ie6nav {position: absolute;bottom:190px;left:98px;}
.main-right {height:100%;}
.main-right-wrap {height:100%;bottom:0; position: absolute;}
.main-right .bottom-tit {height:91px;bottom:100px;top:auto;}
.small-product .bottom-tit {margin-left:-30px;}
.main-tit {width:30%;left:50%;}
.models .models-img img {left:0;}
.p-text6 > div {margin:0;}
.p-text6 > .p-text6-tmall {margin:0 0 0 50px;}
.product-package {margin:153px 0 0 135px;bottom:220px;}
.bottom-tit1 {left:15px;}
.main-right .new-ie {width:auto;height:auto;bottom:433px;left:1322px;position: absolute;}
.zoom-ie-wrap {position: fixed;top:0;left:0;width:100%;height:100%;}
.zoom-box {position: absolute;left:-150%;top:30%;z-index:200;font-size:14px;}
.zoom-box img {position: absolute;top:0;left:0;}
.zoom-box .tip {position: absolute;top:15px;left:125px;width:200px;color:#e10096;}
.zoom-box .tip2 {position: absolute;top:15px;left:125px;width:200px;color:#e10096;display:none;}
.zoom-box .tip3 {position: absolute;top:200px;left:80px;width:200px;color:#e10096;}
.product-nav {position: relative;}
.lights img {width:31px;height:31px;}
.light1 {position: absolute;top:40px;left:24px;display:none;}
.light2 {position: absolute;top:105px;left:36px;display:none;}
.light3 {position: absolute;top:173px;left:52px;display:none;}
.light4 {position: absolute;top:238px;left:66px;display:none;}
.light5 {position: absolute;top:303px;left:79px;display:none;}
.product-nav ul {position: absolute;z-index:2000;top:19px;left:19px;}
.product-nav ul li {width:124px;height:69px;font-size:0;cursor:pointer;}
.small-product ul li {width:100px;height:55px;}
.small-product .lights img {width:26px;height:26px;}
.small-product .light1 {position: absolute;top:32px;left:19px;display:none;}
.small-product .light2 {position: absolute;top:85px;left:28px;display:none;}
.small-product .light3 {position: absolute;top:137px;left:40px;display:none;}
.small-product .light4 {position: absolute;top:189px;left:51px;display:none;}
.small-product .light5 {position: absolute;top:243px;left:63px;display:none;}
.main-right {z-index:200;}

.show-text-wrap .show-text1 {background:url(../img/girl/text_box_bg.png) no-repeat;margin:-5px -5px 3px;}
.show-text-wrap .show-text2 {background:url(../img/girl/text_box_bg.png) no-repeat;margin-left:20px;}
.show-main .show-box {width:365px;height:245px;margin-left:-20px;left:0;}
.show-main .show-box div {display:none;}
#show-1 .show-box {background:url(../img/girl/ie1.png) no-repeat;}
#show-2 .show-box {background:url(../img/girl/ie2.png) no-repeat;}
#show-3 .show-box {background:url(../img/girl/ie3.png) no-repeat;}
#show-4 .show-box {background:url(../img/girl/ie4.png) no-repeat;}
#show-5 .show-box {background:url(../img/girl/ie5.png) no-repeat;}
#show-6 .show-box {background:url(../img/girl/ie6.png) no-repeat;}
#show-7 .show-box {background:url(../img/girl/ie7.png) no-repeat;}
#show-8 .show-box {background:url(../img/girl/ie8.png) no-repeat;}
#show-9 .show-box {background:url(../img/girl/ie9.png) no-repeat;}
.show-main .show-box div.show-text1,.show-main .show-box div.show-text2 {display: block;}
#show-8 {margin-left:-99px;}
#show-8-2 {margin-left:-1px;}

.show-text-box {top:135px;z-index:99999;}
.show-main {height:2000px;}
.show-main li {height:256px;}
.show-main .show-main-right {background:url(../img/ie/show_right.gif) no-repeat;margin-left:600px;}
.show-main .show-main-bottom {background:url(../img/ie/show_bottom.gif) no-repeat center bottom;}
.show-main .center-green {background:url(../img/ie/center-green.png) no-repeat;margin:135px -15px 6px 3px;width:173px;}
.show-main .left-green-inner {background:#71DB2E url(../img/ie/left-green.gif) no-repeat right;}
.show-main .left-green {width:1428px;}
.show-main .right-pink-inner {background:#E10096 url(../img/ie/right-pink.gif) no-repeat left;width:100%;height:140px;}
.show-main .show-main-bottom {margin-top:-76px;
    height: 180px;}
.show-main .product-bottom {bottom:-30px;}

.small-product #ie-product {width:165px;height:300px;}

.show-text-box1 {top:11px;}