
/* reset css */
html, body, p, h1, h2, h3, h4, h5, h6,
ul, li, ol, dl, dd, dt,
form, fieldset, legend, img {
    margin  : 0;
    padding : 0;
}
section, article, nav, header, footer { display : block; }
address, caption, cite, code, dfn, th, var,i,em {
    font-style  : normal;
    font-weight : normal;
}
table,tr,td{
  padding: 0;
}
em, i { font-weight : normal; }
table         { border-collapse : collapse;  border-spacing: 0;}
fieldset, img { border : none; }
ul, ol        { list-style : none; }
select, input { vertical-align : middle; outline : none; }
h1, h2, h3, h4, h5, strong, em { font-weight : normal; }
h1,h2{font-size: 1.5em;}
h3{font-size: 1.17em;}
h4,h5,h6{font-size: 1em;}
select, input, textarea {
    font-size   : 100%;
    margin      : 0;
    padding     : 0;
    outline     : none;
    font-family : arial, sans-serif;
}
textarea {
    resize   : none;
    overflow : auto;
    word-break : break-all;
    word-wrap  : break-word;
}
body {
    color : #000;
    font: 14px/20px Helvetica,STHeiti, microsoft yahei,arial,simsun,sans-serif;
}
body,html{
    overflow:hidden;
}
img,a,div,span{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* application */
/* loading css */
.loading{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 444000;
    background: white;
}
.process-wrap{
    height: 10px;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -5px;
}
#process-bar{
    height: 100%;
    width: 0;
    background: #ddd;
}
#p2{
    height: 2px;
    background: red;
    width: 0;
    top: 0;
    left: 0;
    z-index: 2000;
    position: fixed;
}
header{
    position: fixed;
    z-index: 1000;
    background: white;
    overflow: hidden;
    top: -100px;
    left:0;
    width: 100%;
    height: 100px;
    padding-left: 30px;
    -webkit-box-shadow: 0 3px 9px 0px #ccc;
    -o-box-shadow: 0 3px 9px 0px #ccc;
    -moz-box-shadow: 0 3px 9px 0px #ccc;
    box-shadow: 0 3px 9px 0px #ccc;
    behavior: url(ie-css3.htc);
}
header .logo{
    float: left;
    margin-top: -53px;
}
header .share{
    float: right;
    height: 100px;
    line-height: 100px;
    overflow: hidden;
    border-left: 1px solid #f0f0f0;
}
header .share a{
    float: left;
    margin-left: 20px;
    height: 100%;
    text-decoration: none;
}
header .share i{
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 21px;
    background: url(../img/share.png) no-repeat;
}
header .share i:hover{
    opacity: 0.7;
}
header .share i.weibo{
    margin-top: -80px;
    background-position: -90px 0;
}
header .share i.qzone{
    margin-top: 130px;
}
header .share i.qweibo{
    margin-top: -80px;
    background-position: -30px 0;
}
header .share i.renren{
    margin-top: 130px;
    background-position: -60px 0;
}
header .share i.sina{
    background-position: -90px 0;
    float: left;
}
header .share .sina-share{
    width: 190px;
    border-left: 1px solid #f0f0f0;
    padding-left: 20px;
    position: relative;
}
header .share .sina-share img{
    position: absolute;
    width: 80px;
    top: 4px;
    left: 0px;
    opacity: 0;
    display: none;
}
header .share .sina-share p{
    padding-left: 50px;
    font-size: 12px;
    margin-top: 32px;
    line-height: 1.3em;
    opacity: 0;
    
}
header .share .sina-share .gray{
    color: #6c6c6c;
}
header .share .sina-share .pink{
    color: #e10096;
}
.share-text{
    float: left;
    line-height: 100px;
    color: #e10096;
    margin-left: 20px;
    opacity: 0;
    height: 100px;
    vertical-align: top;
}


.rotate-right{
        -webkit-transform-origin: top left;
            -moz-transform-origin : top left;  /* Firefox 3.5-15 */
              -ms-transform-origin: top left;  /* IE 9 */
               -o-transform-origin: top left;  /* Opera 10.50-12.00 */
                  transform-origin: top left;  /* Firefox 16+, IE 10+, Opera 12.10+ */
    -webkit-transform: rotate(-11deg);  /* Chrome, Safari 3.1+ */
     -moz-transform: rotate(-11deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(-11deg);  /* IE 9 */
       -o-transform: rotate(-11deg);  /* Opera 10.50-12.00 */
          transform: rotate(-11deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}

.drop_overlay {height:100%;width:100%;background:url(../img/drop_overlay.jpg) repeat-y left;position: fixed;top:0;left:0;z-index:0;opacity: 0;
}
.main{
    margin-top: 100px;
    height: 9000px;
    position: relative;
    z-index:1;
}
.main-right{
    height: 200%;
    position: fixed;
    width: 100%;
    left: 120%;
    background: white;
    background: white url(../img/m-right-bg.png) repeat-y;
    overflow:hidden;
    overflow-y:auto;
}
.main-right-wrap {height: 50%;width: 100%;position: relative;}
.main-right-bottom{
    position: absolute;
    width: 1000px;
    top: -100%;
    height:1000px;
    background: #e10096;
}

.main-tit{
    position: fixed;
    top: -100%;
    left: 49%;
    z-index: 1;
    margin-left: -8%;
}
.main-exp{
    position: absolute;
    z-index: 10;
    bottom: -100px;
    left: 56%;
    opacity: 0.8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; 
    filter: alpha(opacity=80);
    cursor: pointer;
}
.main-exp:hover{
    opacity: 1;
}


.main-left{
    position: fixed;
    width: 100%;
    height: 100%;
    left: -25%;
}
.no-animate .main-left{
    top: -15%;
}
.magin-left-bg{
    position: absolute;
    opacity: 0;
    
    width: 100%;
    height: 120%;
    background: rgb(221,221,221); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(221,221,221,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(221,221,221,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(221,221,221,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(221,221,221,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(221,221,221,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(221,221,221,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.main-left-bottom{
    background: #71db2e;
    position: absolute;
    width: 100%;
    top: 180%;
    height: 100%;
}

.models{
    position: fixed;
    top: 65px;
    width: 900px;
    bottom: 0;
    z-index: 100;
}

.home-model {height:100%;}
.home-model img{
    z-index: 1000;
}
.models img{
    position: absolute;
    z-index: 100;
    bottom: 0;

}
.models .models-img img, .models .home-model img{
    height: 100%;
    max-height: 859px;
    max-width: 859px;
}
.models .model{
    left: -300px;
    opacity: 0;
    
}
.models .home-model .phone{
    opacity: 0;
    
    bottom: 0;
    left: 75%;
    height: 44%;
}
.models .models-img img{
    clip: rect(900px,900px,900px,0px);
    zoom: 1;
}

.models .p-model1,
.models .p-model2,
.models .p-model3,
.models .p-model4,
.models .p-model5{
    position: absolute;
    z-index: 101;
    bottom: 0;
    width: 900px;
    overflow: hidden;
}
.models .p-model1 img{
    bottom: 0;
}

.models .p-model2 img{
    bottom: 0;
}


.models .scan-img {display:none;bottom: 0;overflow:hidden;height:100%;width:675px;position: absolute;z-index:101;}

.models-tip{
    z-index: 1000;
    position: absolute;
    top: 200px;
    left: 200px;
    width: 30%;
    height: 30%;
    opacity:0;
    
}
.models-tip i{
    position: absolute;
    z-index: 0;
    border-top: 30px solid #FFF;
    border-left: 76px solid transparent;
}
.models-tip .circle{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 1400px;
    behavior: url(ie-css3.htc);
    border: 5px solid white;
    overflow: hidden;
    background: #eee;
}
.models-tip .circle img{
    position: static;
    opacity: 0;
    
    background: white;
}
/* product */
.product{
    left: 280px;
    opacity: 0;
    
    position: absolute;
    z-index: 500;
    bottom: 15%;
    height: 378px;
    width: 178px;
    background: url(../img/crean.png) no-repeat;
}
.product-circle{
    background: url(../img/circle.png) no-repeat;
    position: absolute;
    width: 52px;
    height: 341px;
    top: 21px;
    left: 24px;
    z-index: 200;
}
.product-circle-active{
    width: 75px;
    height: 75px;
    background: #e10096;
    opacity: 0;
    
    position: absolute;
    z-index: 78;
    border-radius: 100px;
    behavior: url(ie-css3.htc);
    left: 8px;
    top: 12px;
}
.product ul{
    margin-top: 10px;
}
.product li{
    height: 70px;
    position: relative;
    z-index: 200;
    color: #E7338E;
    cursor: pointer;
}
.product li span{
    position: absolute;
    bottom: 0;
    left: 20px;
    font-size:12px;
}
.product li i{
    position: absolute;
    left: -20px;
    width: 8px;
    height: 11px;
    top: 41px;
    background: url(../img/tangle.png) no-repeat;
}
.product li i.reverse{
    background-position: 0 -11px;
}


.main-right .new{
    width: 107px;
    height: 106px;
    position: absolute;
    bottom: 480px;
    left: 280px;
    opacity: 0;
}
.main-right .bottom-tit{
    position: absolute;
    top: 75%;
    z-index: 11;
    left: 400px;
    opacity: 0;
    
    width:1000px;
    height:1000px;
}
.bottom-tit1 {
    position: absolute;
    left:0;top:0;
}
.bottom-tit2 {
    position: absolute;
    right:0;top:0;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin : 50% 100%;  /* Firefox 3.5-15 */
    -ms-transform-origin: 50% 100%;  /* IE 9 */
    -o-transform-origin: 50% 100%;  /* Opera 10.50-12.00 */
    transform-origin: 50% 100%;  /* Firefox 16+, IE 10+, Opera 12.10+ */
    -webkit-transform: rotate(90deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(90deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(90deg);  /* IE 9 */
    -o-transform: rotate(90deg);  /* Opera 10.50-12.00 */
    transform: rotate(90deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}
.bottom-tit3 {
    position: absolute;
    right:0;bottom:0;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin : 50% 50%;  /* Firefox 3.5-15 */
    -ms-transform-origin: 50% 50%;  /* IE 9 */
    -o-transform-origin: 50% 50%;  /* Opera 10.50-12.00 */
    transform-origin: 50% 50%;  /* Firefox 16+, IE 10+, Opera 12.10+ */
    -webkit-transform: rotate(180deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(180deg);  /* IE 9 */
    -o-transform: rotate(180deg);  /* Opera 10.50-12.00 */
    transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}
.bottom-tit4 {
    position: absolute;
    left:0;bottom:0;
    -webkit-transform-origin: 21% 49%;
    -moz-transform-origin : 21% 49%;  /* Firefox 3.5-15 */
    -ms-transform-origin: 21% 49%;  /* IE 9 */
    -o-transform-origin: 21% 49%;  /* Opera 10.50-12.00 */
    transform-origin: 21% 49%;  /* Firefox 16+, IE 10+, Opera 12.10+ */
    -webkit-transform: rotate(270deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(270deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(270deg);  /* IE 9 */
    -o-transform: rotate(270deg);  /* Opera 10.50-12.00 */
    transform: rotate(270deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}
.tmall{
    position: fixed;
    z-index: 12;
    right: -140px;
    top: 30px;
    opacity: 0;
    width: 120px;
    height: 57px;
    border: 12px solid #71DB29;
    background: #71DB2E url(../img/tmall.png) no-repeat left bottom;
}

.p-text{
    height: 100%;
    position: fixed;
    width: 68%;
    z-index: 99;
}
.p-text-2{
    height: 100%;
    position: fixed;
    width: 68%;
    z-index: 102;
}
.p-text>div,.p-text-2>div{
    right: 4%;
    bottom: 20%;
    position: absolute;
    text-align: right;
    opacity: 0;
    bottom: -100%;
}
.p-text6>div {text-align:center;margin:0 0 40px 0;}
.p-text6 a:hover {opacity:0.7;}

.arrow-red {opacity:0;width:0;height:0;border-top:60px solid transparent;border-bottom:60px solid transparent;border-left:60px solid #e10096;position:absolute;top:120%;right:10%;}
.arrow-green {opacity:0;width:0;height:0;border-top:60px solid transparent;border-bottom:60px solid transparent;border-left:60px solid #71db2e;position:absolute;top:120%;right:10%;}
.page-nav-prev,.page-nav-next{
    position: fixed;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    opacity: 0.4;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; 
    filter: alpha(opacity=40);
    display: none;
    z-index: 12000;
    top: 100px;
    background: url(../img/page-nav.png) no-repeat;
}
.page-nav-prev:hover,.page-nav-next:hover{
    opacity: 1;
}
.page-nav-next{
    background-position: 0 -80px;
    top: auto;
    bottom: 0;
}

.no-animate .models-tip{
    display: none;
}

.no-animate .product{
    left: 1000px;
}

.no-animate .home-model .model{
    left: -100%;
    bottom: -20px;
}
.no-animate .home-model .phone{
    left: -100%;
}

.no-animate .main-right .bottom-tit {
    left: 1400px;
}

.no-animate .main-right .new{
    bottom: 1500px;
}

.no-animate .arrow-red , .no-animate .arrow-green {
    display: none;
}

.no-animate .product li i{
    display: none;
}



/*********** ie6 ************/
.ugly-ie header,
.ugly-ie .main-right,
.ugly-ie .main-left,
.ugly-ie .models,
.ugly-ie .main-tit,
.ugly-ie .tmall,
.ugly-ie .models .home-model .phone
{
    position: absolute;
}
.ugly-ie .models{
    bottom: auto;
}
.ugly-ie .models img,
.ugly-ie .p-text{
    position: static;
}
.ugly-ie .p-text1{
    top: 1305px;
    left: 647px;
    right: auto;
    opacity: 1;
}
.ugly-ie .p-text2{
    top: 2109px;
    left: 748px;
    right: auto;
    opacity: 1;
}
.ugly-ie .p-text3{
    top: 3081px;
    left: 760px;
    right: auto;
    opacity: 1;
}
.ugly-ie .p-text4{
    top: 3924px;
    left: 760px;
    right: auto;
    opacity: 1;
}
.ugly-ie .p-text5{
    top: 4779px;
    left: 760px;
    right: auto;
    opacity: 1;
}
.ugly-ie .p-text6{
    bottom: 0;
    top: 5682px;
    opacity: 1;
    left: -5%;
    margin-left: -380px;
    padding-bottom: 706px;
}
.ugly-ie .models .models-img{
    display: none;
}
.ugly-ie .models .models-img img {
    clip: rect(0px,900px,900px,0px);
    display: block;
}
.ugly-ie .models .home-model .phone{
    top: 480px;
}
.ugly-ie .models .home-model .phone , .ugly-ie .main{
    height: auto;
}
.ugly-ie .main{
    position: static;
}

.ugly-ie .drop_overlay{
    display: none;
}
.ugly-ie .main-left{
    height: auto;
}
.ugly-ie .main-left-bottom{
    display: none;
}
.ugly-ie .main-right-bottom{
    height: 423px;
}
.ugly-ie .bottom-tit2,
.ugly-ie .bottom-tit3,
.ugly-ie .bottom-tit4,
.ugly-ie .page-nav-next{
    display: none;
}


.share i,
.share a,
.p-text6 a
{-webkit-transition:   all 0.3s ease;-moz-transition:  all 0.3s ease;-o-transition:  all 0.3s ease;-ms-transition:  all 0.3s ease;transition:  all 0.3s ease;}