@charset "utf-8";
/*
 *   2013 10 
 */


/*IE*/
.bg_green{background: url('../i/bg_green.png') no-repeat;width:622px;height: 640px;top:0;left:0;margin: 0;bottom:auto;right:auto;}
.bg_red{background: url('../i/bg_red.png') no-repeat;width:630px;height: 488px;bottom:0;right:0;margin: 0;left:auto;top:auto;}

.Intro {position: relative;display: block;height:690px;}