@charset "utf-8";
/*
 *   2013 10 
 */


/*IE*/

.Intro {position: relative;display: block!important;height:620px;border-bottom:1px solid #ccc;}
.menu {display: none;}
.nextIntor {display:none;background: none;}
.jspDrag {background: #e7dee2;}
.Intro1bg {margin-top:-280px;}
.Intro6wrap {overflow: hidden;}
.Intro6iewrap {overflow: hidden;width:880px;height:422px;overflow:hidden;position: relative;}
.Intro6item {margin:0 5px;}