AddType video/mp4 .mp4
AddType audio/mpeg .mp3
AddType video/webm .webm


<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.html [L]
</IfModule>
