@charset "utf-8";
/*
 * avene 2013 10 
 */

/* Reset
================================================================================================= */
body{color:#555;background:#f7f7f7;font-size:12px;}
body,a{font-family:arial,STHeiti,"Microsoft YaHei",SimHei,sans-serif;}
h1,h2,h3{font-size:100%;font-weight: normal}
body,h1,h2,h3,h4,ul,li,p,img{margin:0;padding:0;border:0;}
img{margin:0;line-height:normal;}
em,i{font-style:normal;text-decoration:none}
ul{list-style:none;}

/* Commonly Used 
================================================================================================= */
a{text-decoration:none}
.cs-clear{+zoom:1;}
.cs-clear:before,
.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}
/*
.img_shadow{box-shadow:0px 2px 4px #333,10px 12px 0px #e10096}
*/

/* header Used
================================================================================================= */
.header{background: #fff;height: 118px;z-index: 50;position: fixed;width: 100%;
    box-shadow: 0 0 5px #ddd;-webkit-box-shadow: 0 0 5px #ddd;}
.logo{width: 205px;height: 84px;background: url('../img/logo.png') no-repeat;background-size:auto 100%;position: absolute;top: 20px;left: 20px;}
.tmall{width: 120px;height: 118px;position: absolute;right: 120px;background: url('../img/tmall.png') no-repeat bottom;}
.navtit{width:54px;height: 70px;position: absolute;top:20px;right: 32px;background: url('../img/navtit.png') no-repeat;background-size:auto 100%;overflow: hidden;line-height: 300em;cursor: pointer}
.navlist{position: absolute;top: 118px}
    .navlist a{display: block;background:#e10096 url('../img/nav_arrow.png') no-repeat  90% center;border-top: #fff solid 1px;min-width: 570px;height:70px;line-height: 70px;font-size:30px;font-weight:bold;color: #fff;padding:0 0 0 70px}
    .navlist img {vertical-align: middle;margin:0 15px 0 0;}
    .navlist .indent a {padding:0 0 0 105px;}
/* menu Used
================================================================================================= */
.menu{position: fixed;left:0;background: #f7f7f7;top: 118px;width:65%;z-index: 1;padding: 50px 0 0;}
.menu a{display: block;background:#e10096 url('../img/nav_arrow.png') no-repeat  90% center ;border-top: #f7f7f7 solid 1px;height:88px;line-height: 88px;font-size:34px;color: #fff;padding:0 0 0 45px;}
/* page Used
================================================================================================= */
.page{position: absolute;z-index: 1;top: 118px; width: 100%;bottom:0;}
.photowall .page {position: relative;}
#login_nologin,#login_logined {display: none;}

/* step1 Used
================================================================================================= */
.cover_home {top:40px;right:120px;position: absolute;}
.cover_home img {width:471px;height:598px;}
.cover_slide{position: absolute;
top: 18px;
bottom: 106px;
width: 100%;
overflow: hidden;}
    .cover_slide_on{
        display: block;
width: 328px;
position: absolute;
left: 50%;
margin-left: -164px;
}
    .cover_slide_l img,
    .cover_slide_r img{height: 220px}
    .cover_slide_l{
        position: absolute;
height: 220px;
left:-120px;
top: 50%;
opacity: 0.5;
margin-top: -110px;
}
    .cover_slide_r{position: absolute;
height: 220px;
right: -120px;
top: 50%;
opacity: 0.5;
margin-top: -110px;}
    .cover_checkbox{width:54px;height: 54px;background: url('../img/cover_checkbox.png') no-repeat;position: absolute;right:-56px;bottom:0px;display: none;}
    .cover_slide_on .cover_checkbox{display: block;}
    .cover_slide_prev{position: absolute;
width: 100px;
height: 100px;
background: url(../img/cover_slide_prev.png) no-repeat left center;
top: 50%;
left: 10px;
cursor: pointer;
margin-top: -50px;}
    .cover_slide_next{position: absolute;
width: 100px;
height: 100px;
background: url(../img/cover_slide_next.png) no-repeat right center;
top: 50%;
right: 10px;
cursor: pointer;
margin-top: -50px;}
.step1_btn{background: #E10096;
position: absolute;
overflow: hidden;
bottom: 0;
width: 100%;}
.step1_btn a{float: left;height: 88px;background:#e10096;color:#ccacbe;font-size: 24px; line-height:30px;text-align: center;}
.step1_btn input{position: absolute;left:-9999px;}
.step1_btn .step1_btn1{padding:12px 23px 0;height: 76px}
.step1_btn .step1_btn2,
.step1_btn .step1_btn3{background:#70da2e;}
.step1_btn .step1_btn2 img,
.step1_btn .step1_btn3 img{display: block;padding:26px 10px 22px;border:#f7f7f7 solid;border-width: 0 3px}
.step1_btn .step1_btn3 img{border-left:none}
.step1_btn .step1_btn4{padding:12px 23px 0;height: 76px;float: right;}
.step1_btn .step1_btn5{padding:0 18px 0;line-height:88px;float: right}
.step1_btn .login {width:95px;float:left;overflow: hidden;}

.homecover{position: absolute;
width: 100%;
top: 18px;
bottom: 106px;
overflow: hidden;}
    .step1home_tips{position: absolute;right: 0px;top: 18px;}


/* photo Used
================================================================================================= */
.photo{text-align: center;position: absolute;top: 0px;bottom: 0;width: 100%;}
.photo_com{position: absolute;width: 100%;top: 10px;bottom: 98px;overflow: hidden;text-align: left;}
.photo_btn{position: absolute;
bottom: 0;
left: 0;
right: 0;
display: table;
width: 100%;}
    .photo_btn a{background: #70DA2E;
display: table-cell;
width: 50%;}
    .photo_btn a img{display: block;margin: 0 auto 0;padding:16px 0;}
    .photo_btn1 span{display: block;border-right: #f7f7f7 solid 4px;height: 88px;}
    .photo_btn .photo_btn3{width: 100%}

.photo_adjust{position: absolute;
top: 18px;
left: 0;
right: 0;
bottom: 106px;}
    .adjust_tips{background: url('../img/adjust_tips.png') no-repeat;width:224px;height: 124px;position: absolute; bottom: -12px;left:50%;margin-left: -120px;}
    .adjust_btn{width: 122px;height: 92px;font-size: 30px;background: #e10096;text-align: center;position: absolute;top: 50%;margin-top:-46px;color:#fff;line-height: 92px;z-index: 5;}
    .adjust_btn1{left:2px;}
    .adjust_btn2{right:2px;}

    .cover_pop,.cover_pop2{z-index: 52;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    }
    .cover_pop2 {bottom:-130%;top:auto;position: fixed;}
    .cover_pop2_close {width:80px;height:80px;background:url(../img/pop_close.png) no-repeat;position: absolute;top:-80px;right:0;}
    .cover_pop2 .pop_content {text-align: center;color:#e10096;font-size:40px;}
    .cover_pop2 .pop_content small {font-size:30px;}
    .cover_pop2 .pop_box {display:none;}
    #pop_voted .pop_content {padding-top:180px;}
    #pop_voted_failed .failed_text {display: none;}
    #pop_voted_failed small {color:#555;}
    #pop_rule {padding:30px 50px;font-size:30px;}
    #pop_rule h4 {color:#e10096;margin:0;font-size:40px;text-align: center;}
    #pop_rule p {margin:20px 0;}
    #pop_fillinfo {padding:20px 0;}
    #pop_fillinfo h4 {color:#e10096;margin:0 0 20px 0;font-size:40px;text-align: center;}
    #pop_fillinfo form {width:500px;margin:0 auto;font-size:30px;}
    #pop_fillinfo form .logreg_tips {font-size:25px;margin-top:15px;}
    #pop_fillinfo .field_item {margin:0 0 5px 0;}
    #pop_fillinfo label {color:#555;display: block;margin:0 0 5px 0;}
    #pop_fillinfo label.error {color:#e10096;font-size:20px;}
    #pop_fillinfo div.error {color:#e10096;margin:0 0 10px 0;display:none;}
    #pop_fillinfo .text {border:1px solid #e10096;height:38px;line-height:38px;text-indent:5px;width:100%;font-size:30px;}
    #pop_fillinfo .submit {display:block;font-size:0;background:#70da2e url(../img/btn_submit.gif) no-repeat center;height:80px;width:100%;margin:0 auto;border:none;}
    #pop_site_login {padding:20px 0;}
    #pop_site_login h4 {color:#e10096;margin:0 0 40px 0;font-size:40px;text-align: center;}
    #pop_site_login form {width:500px;margin:0 auto;font-size:30px;}
    #pop_site_login .field_item {margin:0 0 20px 0;}
    #pop_site_login label {color:#555;display: block;margin:0 0 5px 0;}
    #pop_site_login label.error {color:#e10096;font-size:20px;}
    #pop_site_login .text {border:1px solid #e10096;height:38px;line-height:38px;text-indent:5px;width:100%;font-size:30px;}
    #pop_site_login .submit {display:block;font-size:0;background:#70da2e url(../img/btn_submit.gif) no-repeat center;height:80px;width:100%;margin:0 auto;border:none;}
    #pop_site_login div.error {color:#e10096;margin:0 0 10px 0;display:none;}
    #pop_login {padding:40px 0 0 0;}
    #pop_login h4 {color:#e10096;margin:0 0 20px 0;font-size:40px;text-align: center;}

    .already_logup {margin-top:15px;}
    .already_logup a  {color:#666;}
    /* login */
    .sns_login {padding:0px 0;height:480px;margin-left:100px;}
    .sns_login a {float:left;font-size:30px;color:#e10096;margin:25px;background:#fff;border:2px solid #ccc;width:160px;text-align:center;padding:20px 0;}
    .sns_login a img {display: block;margin:0 auto 4px auto;}
    .val_nickname {display: none;}
    .nosns {text-align: center;font-size:35px;color:#e10096;margin:0 0 10px 0;}
    .nosns a {color:#e10096;font-weight:bold;}

.photo_compounding{position: absolute;top: 0;bottom: 0;width: 100%;background:rgba(255,255,255,0.9);padding: 10px 0 0;display:none;z-index:60;}
    .photo_compounding img {margin-top:10%;}
    .photo_compounding_i img {margin:0 12px;display: none;}
    .photo_compounding_bg {margin-left:50px;}
    .photo_compounding_text {position: absolute;top:10%;left:245px;margin-top:347px;}

/* succeed Used
================================================================================================= */
.succeed{position: absolute;top:118px;bottom:0;width: 100%;padding-top: 35px;background:#f0f0f0 url('../img/explain.png') repeat-y;}
    .suc_hd{line-height: 300em;overflow:hidden;background: url('../img/suc_hd.png');color: #fff;width: 600px;height: 64px;font-size: 30px;text-align: center;margin: 0 auto}
    .suc_pho{padding:36px 0;width: 100%;position: relative;height: 580px}
    .suc_pho img{float: left;margin-left:12px;}
    .suc_tips{width: 210px;float:right;font-size: 24px;line-height: 30px;position: absolute;top:70px;right: 12px;color:#545454}
    .suc_tips span{display:block;}
    .suc_tips2{font-size: 28px;color:#e10096;padding-top: 20px }
    .suc_btn{position: absolute;right: 12px;top:340px}
    .suc_btn a{width: 210px;height: 60px;display: block;margin: 0 0 16px}
    .suc_btn1{background:#e10096 url(../img/suc_btn1.png) no-repeat center;}
    .suc_btn2{background:#e10096 url(../img/suc_btn2.png) no-repeat center;}
    .suc_share{width: 100%;height: 90px;background:#70da2e url(../img/suc_share.png) no-repeat center;position: fixed;bottom: 0;}

/* explain Used
================================================================================================= */
.explain{background:#f0f0f0 url('../img/explain.png') repeat-y;}
.explain_tit{display: block;margin:20px auto }
.explain_con{font-size: 28px;line-height:120%;color:#333;background:url(../img/sharepage_bg1.png) no-repeat top left;padding:30px 0 0;}
.explain_con h2 {text-align: center;margin:20px 10px 10px 10px;font-size:37px;line-height:120%;color:#e10096;}
.explain_con p{padding: 8px 24px }
.explain_con2{border-top:1px dashed #aaa;color:#e10096;font-size: 38px;padding: 20px 35px 0px 35px;line-height: 40px;margin:15px 0px 15px 0px;text-align: center;}
.explain_btn{margin:0 40px 28px;background: #70da2e;display: block;padding: 14px 0 10px;text-align: center;}
.explain_line{background: url('../img/explain_line.png') no-repeat center;height: 20px;text-align: center}
.explain_more{padding:30px 0 0 310px;background: url('../img/explain_more.png') no-repeat left bottom;width: 280px;height: 520px;}
    .explain_link{margin:0 0 60px;display: block;width: 292px;height: 80px;padding:12px 0 0;text-align: center;font-size: 28px;line-height: 32px;background:#e10096;color:#fff; }
    .explain_rule{width: 292px;display:block;text-align: center}
    .explain_link.link_again {line-height:71px;}


.photowall{background: #fff;}
.photowallhd{height: 90px;background: #f1f1f1;position: relative;}
    .photowallarrow{background:#71db2e url('../img/photowallarrow.png') no-repeat center;width: 78px;height: 90px}
    .photowallarrow.close {background:#71db2e url('../img/photowallarrow_close.png') no-repeat center;}
    .photowallname{font-size: 30px;line-height: 40px;height: 40px;padding:0 24px;background: #e10096;color:#fff;position: absolute;top: 30px;right: 130px;}
    .photowalllogout{font-size: 30px;line-height: 98px;height: 90px;position: absolute;right: 0;top: 0;padding: 0 20px;color:#4e4e4e}
    #photowall_loading,#photowall_end {text-align: center;font-size:30px;padding:20px;display:none;}
    .photowallhd #login_nologin {position:absolute;top:24px; right:20px;font-size:30px;}
    .photowallhd a {color:#4e4e4e;margin:0 10px;}

.photowall_con{padding: 40px;font-size: 30px;line-height: 140%;}
    .photowall_con p{padding:5px 0;}

.photowall_btn{width: 560px;margin: 0 auto}
    .photowall_btn a{float:left;text-align: center}
    .photowall_btn span{padding: 28px 0 20px;display: block;}
    .photowall_btn1{width: 40%;background: #70da2e}
    .photowall_btn1 span{display: block;border-right: #fff solid 3px;}
    .photowall_btn2{width: 60%;background: #e10096;display: none;}
.user_info{font-size: 24px;margin: 44px 56px 0;}
    .user_info img{margin-right: 10px; vertical-align: middle;}
    .user_tiem{color:#b8b8b8;font-size: 16px;padding :10px 0;}
.user_pho img{display: block;margin: 10px auto 30px;padding:5px;background:#fff;border:1px solid #eee;}
.user_bt{width: 530px;margin: 0 auto;border-bottom: #ccc solid 1px;margin-bottom:20px;height: 85px;}
    .user_vote{float:left;margin-top:12px;background: url('../img/user_voteicon.png') no-repeat center left;padding-left: 35px;font-size: 30px;line-height: 40px;}
    .user_votebtn{float: right;background: #70da2e;width: 190px;height: 55px;padding-top: 15px;text-align: center}
.photowall_fullscreen_item {position: fixed;width:100%;height:100%;top:0;left:0;z-index:51;background:#fff;display:none;}
    .photowall_fullscreen_item .img_shadow {margin:0;}
    .photowall_fullscreen_item .user_bt {margin-top:20px;border:none;display:none;}
    .photowall_fullscreen_item .user_pho_close {position: absolute;right:0;top:0;width:80px;height:80px;background:url(../img/pop_close.png) no-repeat;}

#pop_share{display:none;width: 100%;padding:10px 10px;}
    #pop_share #friend_list li {background:#fff;cursor:pointer;float:left;height: 40px;font-size:20px;overflow: hidden;width:188px;margin:2px 7px 2px 7px;border:2px solid #eee;}
    #pop_share #friend_list li.selected,#pop_share #friend_list li:hover {border:2px solid #71db2e;background: #71db2e;color:#fff;}
    #pop_share #friend_list li .avatar {float:left;}
    #pop_share #friend_list li .name {float:left;width:125px;line-height:40px;text-align: left;margin:0 0 0 5px;word-break:break-all;}
    .friend_list_wrap {height:240px;margin:10px 0 0 3px;overflow: auto;}
    #share_body {width:94%;height:100px;margin:0 auto;resize:none;border:1px solid #e10096;margin-top:10px;padding:10px;color:#555;font-size:20px;}
    #btn_sharefriend{cursor:pointer;display: block;width: 181px;height:48px;text-indent:0em;font-size:30px;color:#fff;display: block;background: #71db2e;border:none;_display:inline;margin:12px auto 0 auto;
        box-shadow: 3px 3px 0px #5c5c5c;-webkit-box-shadow: 3px 3px 0 #5c5c5c;-moz-box-shadow: 3px 3px 0 #5c5c5c;-ms-box-shadow: 3px 3px 0 #5c5c5c;-o-box-shadow: 3px 3px 0 #5c5c5c; }
    #btn_sharefriend:hover {opacity:0.6;}
    .step_sharefriends2 {display: none;}
    .step_sharefriends2 .step_join_btn,.step_sharefriends2 .step_join_btn1 {margin:10px auto;}
    .step_sharefriends_tip1 {margin:70px 0 75px 0;}
    #pop_share h4 {color:#e10096;margin:10px 0;font-size:40px;text-align: center;}
    #pop_share .success {color:#71db2e;font-size:50px;margin:20px 0;}

#checkpage,
#successpage,
#sharepage,
#mainpage{display: none;}
#successpage {top:0;}

.photo_mask{
    position    : absolute;
    top         : 0;
    bottom      : 0;
    left        : 0;
    right       : 0;
}

.photo_cover ,
.photo_wrap_inner,
.photo_wrap{
    position    : absolute;
    top         : 0;
    left        : 0;
    height      : 100%;
    width       : 100%;
}
.photo_center{
    width: 490px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.photo_resize{
    border: 2px dashed red;
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    z-index: 3;
}
.photo_cover{z-index: 2;text-align: left;}
.photo_cover img{margin-left: 10px;margin-top: 10px;}
.photo_wrap{overflow: hidden;}
.photo_resize .t,
.photo_resize .b,
.photo_resize .l,
.photo_resize .r{
    position: absolute;
    height: 8px;
    left: -10px;
    top: -10px;
    right: -10px;
    background: rgba(0,0,0,.3);
}
.photo_resize .b{
    height: 8px;
    top: auto;
    bottom: -10px;
    background: rgba(0,0,0,.3);
}
.photo_resize .l{
    width: 8px;
    height: auto;
    bottom: -2px;
    top: -2px;
    left: -10px;
}
.photo_resize .r{
    width: 8px;
    top: -2px;
    height: auto;
    bottom: -2px;
    left: auto;
    right: -10px;
}

#mask{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom : 0;
    z-index: 4;
}


/*for cover animate*/
.cover_slide_item{
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    position: absolute;
    background:#fff;
}
.cover_slide_item img{
    width: 100%;
}
.cover_slide_home .cover_slide_next,
.cover_slide_home .cover_slide_prev{
    margin-top: 110px;
}
.cover_slide_img{
    position: absolute;
    width: 100%;
    height: 100%;
}


@media screen and (max-height:760px){
    .cover_home {right:180px;}
    .cover_home img {width:378px;height:480px;}
    .sns_login a {margin:15px 25px;}
    .sns_login {height:435px;}
}