#page {background:none;border:none;}


.admin_nav {height: 50px;margin:0;padding:0;}
.admin_nav li {float: left;font-size:14px;margin:0 2px;list-style: none;font-weight: bold;}
.admin_nav .logout {float:right;}
.admin_nav li a {padding:10px 20px;background:#fff;display:block;color:#444;text-decoration: none;}
.admin_nav li a:hover,.admin_nav li.actived a {background:#999;color:#fff;}
.dataTables_length,.dataTables_filter {display: none;}
.dataTable {width:100%;font-size:12px;}
.dataTable td {padding:10px 5px;text-align: center;color:#666;}
.dataTable .even td {background:#f8f8f8}
.dataTable th {font-weight: bold;color:#444;cursor: pointer;padding:5px 0;text-transform: uppercase;}
.dataTables_paginate {text-align: right;}
.dataTables_paginate a {margin-left:10px;color:#ff0096;cursor: pointer;background: url(../images/paginate.gif) no-repeat;width:26px;height:26px;text-indent: -999em;text-align: left;display: inline-block;}
.paginate_enabled_previous {background-position: bottom;}
.dataTable a {color:#ff0096;}
.dataTable .delete_photo {display: inline-block;background:url(../images/btn_bg.gif) repeat-x;border:1px solid #d8d8d8;color:#666;width:70px;height:32px;line-height: 32px;}
.dataTable .delete_photo:hover {background: #555;color:#fff;}
.ui-dialog {background:#fff;padding:20px;border:1px solid #ccc;}
.ui-dialog-titlebar-close {background:url(close.gif) no-repeat;width:12px;height:12px;display: block;font-size:0;border:none;position: absolute;top:10px;right:10px;}
.ui-dialog-buttonpane {text-align: center;}
.ui-dialog-buttonpane button {background:#999;color:#fff;padding:5px;border:none;margin:0 3px;}
.ui-dialog-buttonpane button:hover {background:#000;}
.ui-dialog-content {text-align: center;}
#yw0 {width:300px;margin:50px auto 0 auto;font-size:14px;}
#yw0 .row {margin:10px 0;}
#yw0 input {background:#fff;padding:4px 5px;border:1px solid #bbb;width:200px;}
#yw0 label {width:80px;float:left;margin:3px 0 0;}
#yw0 .submit input {background: #555;color:#fff;width:100px;padding:10px 0;margin-left:80px;}
.errorSummary {color:#999;border-bottom:1px solid #ccc;margin:0 0 10px 0;}
.errorSummary p {margin:0 0 10px 0;}
.errorSummary li {font-size:10px;}


body {margin:0;padding:0;}
a {text-decoration: none;}
.page-left {width:230px;height:100%;background:#3c3c3c;border-right:1px solid #ddd;position: fixed;}
.page-left .logo {height:99px;padding:1px 0 0;text-align: center;background: #fff;}
.page-left .logo img {display: block;margin:20px auto 0 auto;}
.page-left .menu-title {color:#b0b0b0;font-size:22px;font-family: 'PT Sans Narrow', sans-serif;margin:24px 0 0 32px;}
.page-left .menu-list {border-bottom: 1px solid #555;padding:0 0 20px 0;}
.page-left .menu-list ul {list-style: none;margin:5px 0 0;padding:0;}
.page-left .menu-list li a {display:block;background: url(../images/menu_arrow.png) no-repeat 35px 12px;padding:12px 0 12px 50px;color:#ccc;font-size:14px;}
.page-left .menu-list li a:hover {color:#fff;background-color:#4f4f4f;}
.page-right {margin:0 0 0 230px;}
.page-right-header {height: 99px;padding:1px 0 0;background:#f6f6f6;border-bottom: 1px solid #ddd;color:#4f4f4f;}
.page-right-header .logout {position: fixed;top:0;right:0;background:#555;color:#fff;font-size:12px;padding:10px 14px;}
.page-right-header .logout:hover {background: #000;}
.page-title {font-family: 'PT Sans Narrow', sans-serif;font-size:40px;margin:25px 0 0 65px;text-transform: uppercase;}
.page-right-wrapper {margin:65px;}

a
{-webkit-transition:   all 0.3s ease;-moz-transition:  all 0.3s ease;-o-transition:  all 0.3s ease;-ms-transition:  all 0.3s ease;transition:  all 0.3s ease;}