@font-face {
    font-family: 'HelveticaNeueLTPro-UltLt';
    src: url('helveticaneueltproultlt.eot');
    src: url('helveticaneueltproultlt.eot?#iefix') format('embedded-opentype'),
    url('helveticaneueltproultlt.woff') format('woff'),
    url('helveticaneueltproultlt.ttf') format('truetype'),
    url('helveticaneueltproultlt.svg#helveticaneueltproultlt') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* reset css */
html, body, p, h1, h2, h3, h4, h5, h6,
ul, li, ol, dl, dd, dt,
form, fieldset, legend, img {
    margin  : 0;
    padding : 0;
}
section, article, nav, header, footer { display : block; }
address, caption, cite, code, dfn, th, var,i,em {
    font-style  : normal;
    font-weight : normal;
}
table,tr,td{
  padding: 0;
}
em, i { font-weight : normal; }
table         { border-collapse : collapse;  border-spacing: 0;}
fieldset, img { border : none; }
ul, ol        { list-style : none; }
select, input { vertical-align : middle; outline : none; }
h1, h2, h3, h4, h5, strong, em { font-weight : normal; }
h1,h2{font-size: 1.5em;}
h3{font-size: 1.17em;}
h4,h5,h6{font-size: 1em;}
select, input, textarea {
    font-size   : 100%;
    margin      : 0;
    padding     : 0;
    outline     : none;
    font-family : arial, sans-serif;
}
textarea {
    resize   : none;
    overflow : auto;
    word-break : break-all;
    word-wrap  : break-word;
}
body {
    color : #000;
    font: 14px/20px Helvetica,STHeiti, microsoft yahei,arial,simsun,sans-serif;

}
img,a,div,span{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* application */
.header{
    position: absolute;
    z-index: 1000;
    background: white;
    overflow: hidden;
    width: 100%;
    height: 120px;
    padding: 0;
    box-shadow: 0 3px 9px 0px #ccc;
}
.header .logo{
    float: left;
    margin:15px 0 0 20px;
}
.header .share{
    display:none;
}
.header .tmall-link {
    float:right;
}


.rotate-right{
    -webkit-transform-origin: top left;
            -moz-transform-origin : top left;  /* Firefox 3.5-15 */
              -ms-transform-origin: top left;  /* IE 9 */
               -o-transform-origin: top left;  /* Opera 10.50-12.00 */
                  transform-origin: top left;  /* Firefox 16+, IE 10+, Opera 12.10+ */
    -webkit-transform: rotate(-11deg);  /* Chrome, Safari 3.1+ */
     -moz-transform: rotate(-11deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(-11deg);  /* IE 9 */
       -o-transform: rotate(-11deg);  /* Opera 10.50-12.00 */
          transform: rotate(-11deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}
.rotate-left{
    -webkit-transform: rotate(-10deg);  /* Chrome, Safari 3.1+ */
     -moz-transform: rotate(-10deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(-10deg);  /* IE 9 */
       -o-transform: rotate(-10deg);  /* Opera 10.50-12.00 */
          transform: rotate(-10deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}
.rotate45{
    -webkit-transform-origin: top left;
    -moz-transform-origin : top left;  /* Firefox 3.5-15 */
    -ms-transform-origin: top left;  /* IE 9 */
    -o-transform-origin: top left;  /* Opera 10.50-12.00 */
    transform-origin: top left;  /* Firefox 16+, IE 10+, Opera 12.10+ */
    -webkit-transform: rotate(45deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(45deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(45deg);  /* IE 9 */
    -o-transform: rotate(45deg);  /* Opera 10.50-12.00 */
    transform: rotate(45deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}
.rotate90{
    -webkit-transform: rotate(90deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(90deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(90deg);  /* IE 9 */
    -o-transform: rotate(90deg);  /* Opera 10.50-12.00 */
    transform: rotate(90deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}
.drop_overlay {height:100%;width:100%;background:url(../img/drop_overlay.jpg) repeat-y left;position: fixed;top:0;left:0;z-index:0;opacity: 0;}
.main{
    margin-top: 100px;
    height: 9000px;
    position: relative;
    z-index:1;
}
.main-right{
    height: 100%;
    position: fixed;
    width: 100%;
    left: 120%;
    background: white;
    background: white url(../img/m-right-bg.png) repeat-y;
}
.main-right-bottom{
    position: absolute;
    width: 100%;
    top: -100%;
    height: 100%;
    background: #e10096;
}

.main-tit{
    position: fixed;
    top: -25%;
    left: 49%;
    z-index: 1;
}
.main-exp{
    position: absolute;
    z-index: 10;
    bottom: -100px;
    left: 56%;
    opacity: 0.8;
    cursor: pointer;
}
.main-exp:hover{
    opacity: 1;
}

.main-left{
    position: fixed;
    width: 100%;
    height: 100%;
    left: -25%;
}
.main-left-bottom{
    background: #71db2e;
    position: absolute;
    width: 100%;
    top: 180%;
    height: 100%;
}

.models{
    position: fixed;
    height: 100%;
    bottom: 0;
    z-index: 100;
}
.home-model {height:100%;}
.models img{
    position: absolute;
    z-index: 100;
    bottom: 0;
}
.models .model{
    left: -300px;
    opacity: 0;
}
.models .phone{
    opacity: 0;
    bottom: 0;
    left: 670px;
}
.models .models-img img{
    clip:rect(859px,859px,859px,0px);
}

.models .p-model1,
.models .p-model2,
.models .p-model3,
.models .p-model4,
.models .p-model5{
    position: absolute;
    z-index: 101;
    bottom: 0;
    width: 900px;
    overflow: hidden;
}
.models .p-model1 img{
    bottom: 0;
}

.models .p-model2 img{
    bottom: 0;
}

.models .scan-img {display:none;bottom: 0;z-index:101;overflow:hidden;height:859px;width:675px;position: absolute;}

/* product */
.product{
    left: 280px;
    opacity: 0;
    position: absolute;
    z-index: 500;
    bottom: 15%;
    height: 378px;
    width: 178px;
    background: url(../img/crean.png) no-repeat;
}
.product-circle{
    background: url(../img/circle.png) no-repeat;
    position: absolute;
    width: 52px;
    height: 341px;
    top: 21px;
    left: 24px;
    z-index: 200;
}
.product-circle-active{
    width: 75px;
    height: 75px;
    background: #e10096;
    opacity: 0;
    position: absolute;
    z-index: 78;
    border-radius: 100px;
    left: 8px;
    top: 12px;
}
.product ul{
    margin-top: 10px;
}
.product li{
    height: 70px;
    position: relative;
    z-index: 200;
    color: #E7338E;
    cursor: pointer;
}
.product li span{
    position: absolute;
    bottom: 0;
    left: 20px;
    font-size:12px;
}
.product li i{
    position: absolute;
    left: -20px;
    width: 8px;
    height: 11px;
    top: 41px;
    background: url(../img/tangle.png) no-repeat;
}
.product li i.reverse{
    background-position: 0 -11px;
}


.main-right .new{
    width: 107px;
    height: 106px;
    position: fixed;
    bottom: 480px;
    left: 280px;
    opacity: 0;
}
.main-right .bottom-tit{
    position: fixed;
    bottom: 15%;
    z-index: 11;
    left: 400px;
    opacity: 0;
}
.tmall{
    position: fixed;
    z-index: 12;
    right: -140px;
    top: 30px;
    opacity: 0;
    width: 120px;
    height: 57px;
    border: 12px solid #71DB29;
    background: #71DB2E url(../img/tmall.png) no-repeat left bottom;
}

.p-text{
    height: 100%;
    position: fixed;
    width: 68%;
    z-index: 200;
}
.p-text>div{
    right: 4%;
    bottom: 20%;
    position: fixed;
    text-align: right;
    opacity: 0;
}
.p-text6>div {text-align:center;margin:0 0 40px 0;}

.next-w {background:url(../img/arrow_w.png) no-repeat;width:52px;height:47px;display:block;}
.next-b {background:url(../img/arrow_b.png) no-repeat;width:52px;height:47px;display:block;}

#skrollr-body {overflow:hidden;}
#main-m {overflow:hidden;}

.screen-1 {position:relative;height:890px;}
.screen-1 .sharp1 {width:450px;height:450px;background:#e10096;right:-720px;top:0;position: absolute;}
.screen-1 .title {position: absolute;right:40px;top:190px;}
.screen-1 .sharp2 {background:#71db2e;width:120%;position: absolute;left:-10%;top:650px;padding:15px 0;}
.screen-1 .product-1 {float:left;margin:0 45px 0 20%;}
.screen-1 .title-1 {float:left;margin:40px 0 0 50px;}
.screen-1 .next-w {position: absolute;left:50%;bottom:15%;}

.screen-2 {position: relative;height:1450px;}
.screen-2 .sharp1 {background:#71db2e;width:835px;height:663px;position: absolute;right:63%;top:800px;}
.screen-2 .sharp2 {background:#e10096;width:835px;height:663px;position: absolute;left:30%;top:400px;}
.screen-2 .all-new {position: absolute;right:40px;top:80px;}
.screen-2 .product-1 {background:url(../img/crean.png) no-repeat;width:301px;height:643px;top:100px;right:180px;position: absolute;}
.screen-2 .title-1 {position:absolute;background: url(../img/s2_t.png) no-repeat;top:853px;right:45px;}
.screen-2 .next-b {position: absolute;left:50%;bottom:10%;}

.product-intro {position: relative;height:1300px;}
.product-intro .model {height:880px;overflow:hidden;}
.product-intro .description {background:#fff url(../img/product1.png) no-repeat 120px 40px;height:340px;border-bottom:2px solid #eee;width:120%;position: absolute;left:-10%;top:800px;}
.product-intro .title1 {background:url(../img/s_title_all.png) no-repeat;width:327px;height:72px;text-indent:-999em;margin:30px 0 0 190px;}
.screen-4 .title1 {background-position: 0 -132px;}
.screen-5 .title1 {background-position: 0 -271px;}
.screen-6 .title1 {background-position: 0 -404px;}
.screen-7 .title1 {background-position: 0 -533px;}
.screen-3 .next-b {position: absolute;left:50%;bottom:4%;}
.screen-4 .next-b {position: absolute;left:50%;bottom:4%;}
.screen-5 .next-b {position: absolute;left:50%;bottom:4%;}
.screen-6 .next-b {position: absolute;left:50%;bottom:4%;}

.product-intro .body {width:480px;font-size:30px;line-height:160%;color:#555;margin:10px 0 0 195px;}
.product-intro i {font-family: 'HelveticaNeueLTPro-UltLt';font-size:120px;color:#e10096;position: absolute;right:50px;top:110px;}

.arrow_wrap {}
.arrow_red {width:0;height:0;border-top:60px solid transparent;border-bottom:60px solid transparent;border-left:60px solid #e10096;position:absolute;top:120%;}
.arrow_green {width:0;height:0;border-top:60px solid transparent;border-bottom:60px solid transparent;border-left:60px solid #71db2e;position:absolute;top:120%;}

.s-arrow {position: absolute;}

.footer {height:80px;background:#e4e4e4;padding:10px 0;}
.footer .follow {float:left;border:1px solid #bbb;padding:10px;margin:0 0 0 15px;}
.footer .share {float:left;margin:10px 0 0 40px;}
.footer .tel {float:left;margin:20px 0 0 40px;}

.product-1 ul {margin:30px 0 0 40px;}
.product-1 li {margin:0 0 20px 0;}
.product-1 li a {background:url(../img/s2_p.png) no-repeat;display:block;width:81px;height:94px;text-indent:-999em;}
.product-1 li.nav2 a {background-position:0 -121px;}
.product-1 li.nav3 a {background-position:0 -245px;}
.product-1 li.nav4 a {background-position:0 -365px;}
.product-1 li.nav5 a {background-position:0 -487px;}