@charset "utf-8";
/*
 *  2013 10 
 */

/* Reset
================================================================================================= */
body{color:#555;background:#fff;font-size:12px;line-height:1.666em;}
body{font-family:"Microsoft YaHei",arial,SimHei,sans-serif;}
h1,h2,h3{font-size:100%;font-weight: normal;}
body,h1,h2,h3,h4,ul,li,p,img{margin:0;padding:0;border:0;}
img{margin:0;line-height:normal;}
em,i{font-style:normal;text-decoration:none}
ul{list-style:none;}

/* Commonly Used 
================================================================================================= */
a{text-decoration:none}
.cs-clear{+zoom:1;}
.cs-clear:before,
.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}



/* public Used 
================================================================================================= *//**/
.main{width:640px;overflow:hidden;background: url(../i/bg.gif) repeat-y;}
/**/
.bg div{width: 100%;height: 100%;position: absolute;display: none;
    -webkit-transform-origin:top left;-moz-transform-origin :top left;-ms-transform-origin:top left;-o-transform-origin:top left;transform-origin:top left; 
    -webkit-transform: rotate(-28deg); -moz-transform: rotate(-28deg);-ms-transform: rotate(-28deg); -o-transform: rotate(-28deg);transform: rotate(-28deg); }
.bg_green{background: #71db2e;}
.bg_red{background: #ff0096;}
.bg1 .bg_green{left:-55%;display: block;}
/**/
.Intro{position: relative;border-bottom:1px dashed #ff0096;}
.nextIntor{background: url('../i/next.png') no-repeat;width: 19px;cursor: pointer;height:16px;bottom:30px;left:50%;margin-left:-10px;position: absolute;}
.Intromod div{position: absolute;}


/* Intro 1 Used 
================================================================================================= */
.Intro1 {height:1076px;}
.Intro1tit{background: url('../i/intro1Tit.png') no-repeat;background-size:100% 100%;width:371px;height: 76px;top:30px;left:27px;}
.Intro1txt{background: url('../i/intro1txt.png') no-repeat;background-size:100% 100%;width:503px;height: 133px;top:130px;left:27px;}
.Intro1bg{background: url('../i/intro1Pho.png') no-repeat 0 0;width:640px;height: 775px;left:0px;top:148px;}
.Intro1pho1{background: url('../i/intro1pho1.png') no-repeat;width:191px;height: 615px;top:301px;left:185px;}
.Intro1pho2{background: url('../i/intro1pho2.png') no-repeat;width:192px;height: 523px;top:313px;left:355px;}
.Intro1tips{background: url('../i/intro1tips.png') no-repeat;background-size:100% 100%;width:566px;height: 123px;top:896px;left:27px;}
.Intro1green {background: url('../i/intro1_green.gif') no-repeat;width:180px;height:409px;right:0;top:0;}
.Intro1red {background: url('../i/intro1_red.gif') no-repeat;width:216px;height:519px;left:0;top:350px;}

/* Intro 2 Used 
================================================================================================= */
.Intro2 {height:972px;}
.Intro2how{background: url('../i/intro2how.png') no-repeat;background-size:100% 100%;width:363px;height: 77px;top:52px;left:27px;}
.Intro2line {width: 100%;border-bottom:1px dashed #ff0096;top:290px;}
.Intro2howtxt{background: url('../i/intro2howtxt.png') no-repeat;background-size:100% 100%;width:423px;height: 84px;top:158px;left:27px;}
.Intro2when{background: url('../i/intro2when.png') no-repeat;background-size:100% 100%;width:363px;height: 77px;top:331px;left:27px;}
.Intro2time1{background: url('../i/intro2time1.png') no-repeat;background-size:100% 100%;width:413px;height: 200px;top:450px;left:27px;}
.Intro2time2{background: url('../i/intro2time2.png') no-repeat;background-size:100% 100%;width:411px;height:171px;top:700px;left:27px;}
.Intro2prod{background: url('../i/intro1pho2.png') no-repeat;width:192px;height: 523px;top:450px;left:458px;}
.Intro2red {background: url('../i/intro2_red.gif') no-repeat;width:208px;height:501px;right:0;top:560px;}

/* Intro 3 Used 
================================================================================================= */
.Intro3 {height:2275px;}
.IntroEffect{background: url('../i/introEffect.png') no-repeat;background-size:100% 100%;width:363px;height: 76px;top:50px;left:27px;}
.Intro3Eff1{background: url('../i/intro3Eff1.png') no-repeat;background-size:100% 100%;width:540px;height:134px;top:150px;left:27px;}
.Intro3Text {color:#ff0096;font-size:25px;width:575px;line-height: 150%;}
.Intro3one {top:339px;}
.Intro3oneTit {background: url('../i/intro3oneTit.png') no-repeat;background-size:100% 100%;width:103px;height:34px;left:258px;}
.Intro3oneText {top:60px;left:36px;}
.Intro3oneImg {background: url('../i/intro3oneImg.png') no-repeat;background-size:100% 100%;width:414px;height:413px;top:157px;left:111px;}
.Intro3two {top:976px;}
.Intro3twoTit {background: url('../i/intro3twoTit.png') no-repeat;background-size:100% 100%;width:103px;height:34px;left:258px;}
.Intro3twoText {top:60px;left:36px;}
.Intro3twoImg {background: url('../i/intro3twoImg.png') no-repeat;background-size:100% 100%;width:414px;height:413px;top:157px;left:111px;}
.Intro3thr {top:1630px;}
.Intro3thrTit {background: url('../i/intro3thrTit.png') no-repeat;background-size:100% 100%;width:103px;height:34px;left:258px;}
.Intro3thrText {top:60px;left:36px;}
.Intro3thrImg {background: url('../i/intro3thrImg.png') no-repeat;background-size:100% 100%;width:414px;height:413px;top:157px;left:111px;}
.Intro3green {background: url('../i/intro3_green.gif') no-repeat;width:216px;height:519px;left:0;top:440px;}
.Intro3red {background: url('../i/intro2_red.gif') no-repeat;width:216px;height:519px;right:0;top:1150px;}
.Intro3green2 {background: url('../i/intro3_green.gif') no-repeat;width:216px;height:519px;left:0;top:1745px;}

/* Intro 4 Used 
================================================================================================= */
.Intro4 {height:854px;}
.Intro4Eff2{background: url('../i/intro4Eff2.png') no-repeat;background-size:100% 100%;width:462px;height: 36px;top:150px;left:27px;}
.Intro4txt{color:#ff0096;font-size:25px;width:575px;line-height: 150%;top:209px;left:27px;}
.Intro4pho1{background: url('../i/intro4pho1.png') no-repeat;width:298px;height: 381px;top:363px;left:27px;}
.Intro4pho2{background: url('../i/intro4pho2.png') no-repeat;width:256px;height: 262px;top:470px;left:352px;}
.Intro4pho3{background: url('../i/intro4pho3.png') no-repeat;width:170px;height: 47px;top:598px;left:252px;}
.Intro4red {background: url('../i/intro2_red.gif') no-repeat;width:216px;height:519px;right:-100px;top:700px;}

/* Intro 5 Used 
================================================================================================= */
.Intro5 {height:1753px;background: url(../i/intro5_bg.jpg) no-repeat 0 800px;}
.Intro5Eff3{background: url('../i/intro5Eff3.png') no-repeat;background-size:100% 100%;width:586px;height:81px;top:146px;left:27px;}
.Intro5fenzi1{background: url('../i/intro5fenzi1.png') no-repeat;width:168px;height: 240px;top:336px;left:52px;}
.Intro5fenzi2{background: url('../i/intro5fenzi2.png') no-repeat;width:364px;height: 369px;top:286px;left:239px;}
.Intro5txt{color:#ff0096;font-size:25px;width:575px;line-height: 150%;top:209px;left:27px;top:692px;}
.Intro5oho1{background: url('../i/intro5oho1.png') no-repeat;width:519px;height:250px;top:980px;left:70px;}
.Intro5oho2{background: url('../i/intro5oho2.png') no-repeat;width:320px;height:338px;top:1233px;left:294px;}
.Intro5oho3{background: url('../i/intro5oho3.png') no-repeat;width:359px;height:326px;top:1251px;left:-10px;}

/* Intro 6 Used 
================================================================================================= */
.Intro6 {height:1250px;border:none;}
.Intro6Tit{background: url('../i/intro6Tit.png') no-repeat;background-size:100% 100%;width:211px;height: 211px;top:50px;left:50px;}
.Intro6green{background: url('../i/intro6_green.gif') no-repeat;width:142px;height: 342px;top:-103px;right:0px;}
.Intro6red {background: url('../i/intro6_red.gif') no-repeat;width:295px;height:531px;left:0px;bottom:-100px;}
.Intro6QAItem {}
.Intro6QA {top:300px;left:100px;width:440px;}
.Intro6QA .bx-wrapper {border:10px solid #e8e8e8;background: #fff;}
.Intro6QA .bx-wrapper .bx-prev {background:url('../i/intro6prev.png') no-repeat;width:33px;height:56px;top:-465px;left:-80px;}
.Intro6QA .bx-wrapper .bx-next {background:url('../i/intro6next.png') no-repeat;width:33px;height:56px;top:-465px;right:-80px;}
.Intro6QA div {position: relative;}
.Intro6QA_Q {color:#5e5e5e;font-size:25px;line-height: 180%;padding:97px 50px 0 50px;margin-top:40px;height:160px;}
.Intro6QA_A {color:#ff0096;font-size:25px;line-height: 180%;padding:97px 50px 40px 50px;margin-top:40px;}
.Intro6QAItem1 .Intro6QA_Q {background: url('../i/intro6q1.png') no-repeat 20px 0;background-size:71px 71px;}
.Intro6QAItem2 .Intro6QA_Q {background: url('../i/intro6q2.png') no-repeat 20px 0;background-size:71px 71px;}
.Intro6QAItem3 .Intro6QA_Q {background: url('../i/intro6q3.png') no-repeat 20px 0;background-size:71px 71px;}
.Intro6QAItem4 .Intro6QA_Q {background: url('../i/intro6q4.png') no-repeat 20px 0;background-size:71px 71px;}
.Intro6QAItem1 .Intro6QA_A {background: url('../i/intro6a1.png') no-repeat 20px 0;background-size:71px 71px;}
.Intro6QAItem2 .Intro6QA_A {background: url('../i/intro6a2.png') no-repeat 20px 0;background-size:71px 71px;}
.Intro6QAItem3 .Intro6QA_A {background: url('../i/intro6a3.png') no-repeat 20px 0;background-size:71px 71px;}
.Intro6QAItem4 .Intro6QA_A {background: url('../i/intro6a4.png') no-repeat 20px 0;background-size:71px 71px;}





