@charset "utf-8";
/*
 *  2013 10 
 */

/* Reset
================================================================================================= */
html,body {min-height: 100%;height:100%;}
body{color:#555;background:#fff;font-size:12px;line-height:1.666em;}
body{font-family:Helvetica,STHeiti, microsoft yahei,arial,simsun,sans-serif;}
h1,h2,h3{font-size:100%;font-weight: normal;}
body,h1,h2,h3,h4,ul,li,p,img{margin:0;padding:0;border:0;}
img{margin:0;line-height:normal;}
em,i{font-style:normal;text-decoration:none}
ul{list-style:none;}
* {outline:none;}
/* Commonly Used 
================================================================================================= */
a{text-decoration:none}
.cs-clear{+zoom:1;}
.cs-clear:before,
.cs-clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}

/* header Used 
================================================================================================= */
.header{height: 90px;width: 100%;background: #fff;position: fixed;top: 0;z-index: 20;
    box-shadow: 0 0 10px #999;-webkit-box-shadow: 0 0 10px #999;-moz-box-shadow: 0 0 10px #999;-ms-box-shadow: 0 0 10px #999;-o-box-shadow: 0 0 10px #999;}
    .header.blur {-webkit-filter: blur(6px); }
    .logo{width:168px;height: 68px;background: url(../img/logo.png) no-repeat;display: block;float: left;_display: inline;margin: 10px 0 0 28px}
    /**/
    .nav{float: left;_display: inline;margin-left: 50px;border-right: #f0f0f0 solid 1px}
    .nav a{font-size: 14px;float: left;line-height: 90px;padding: 0 28px;border-left: #f0f0f0 solid 1px;color:#474747;overflow: hidden;position: relative;}
    .nav a:hover,
    .nav .active{color:#e10096}
    .nav .active span{background: #e10096;position: absolute;top:90px;left: 0;height: 50px;width: 100%;
        -webkit-transform-origin: top left;-moz-transform-origin : top left;-ms-transform-origin: top left;-o-transform-origin: top left;transform-origin: top left; 
        -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg);-ms-transform: rotate(-5deg); -o-transform: rotate(-5deg);transform: rotate(-5deg); }
    /**/
    .share{float: right;position: relative;}
    .share_box{width: 270px;border:#f0f0f0 solid;border-width: 0 1px;float: left;height: 90px;padding-left:15px}
    .share_gz{width: 168px;height: 90px;float: left}
    .share_tit1{color:#9f9f9f;position: absolute;top:10px;left: 24px}
    .share_tit2{color:#9f9f9f;position: absolute;top:10px;left: 212px}
    .share_tit2 .weixin_icon {position: absolute;z-index:200;top:65px;right:-10px;display: none;}
    .share a{width: 40px;height: 30px;background: url(../img/share.png) no-repeat;float: left;margin-top: 40px;_display: inline;}
    .share a:hover {opacity:0.6;}
    .share .share_qzone{background-position:2px 0}
    .share .share_tt{background-position:-42px 0}
    .share .share_weibo{background-position:-86px 0;}
    .share .share_renren{background-position:-130px 0}
    .share .share_weixin{background-position:-178px 0;border-left: #f0f0f0 solid 1px;margin-left:20px;width: 70px}
    .share .gz_weibo{background-position:-284px 0;width: 132px;margin-left: 20px}

/* footer Used 
================================================================================================= */
.footer{z-index: 30;background:#fff;height: 22px;width: 100%;position: fixed;border-top: #dcdcdc solid 1px;bottom: 0;left: 0;color:#6f6f6f;line-height: 22px;overflow: hidden}
    .ft_phone{color:#e10096;float: left;padding: 0 24px;}
    .ft_copyright{float: right;padding: 0 24px;}
    .ft_copyright span{padding-left:12px;}

/* public Used 
================================================================================================= */
/**/
.img_shadow{width:100%;box-shadow: 8px 5px 0 #a0a0a0;-webkit-box-shadow: 8px 5px 0 #a0a0a0;-moz-box-shadow: 8px 5px 0 #a0a0a0;-ms-box-shadow: 8px 5px 0 #a0a0a0;-o-box-shadow: 8px 5px 0 #a0a0a0}
/**/
.main{position: absolute;width: 100%;top:90px;left:0;right: 0;bottom: 24px;overflow: hidden;}
    .main.blur {-webkit-filter: blur(6px); }
/**/
.login{position: absolute;right: 25px;top: 31px;z-index: 15;}
    .login a{color:#777;padding: 0 5px;}
    .login a:hover {color:#c40073;}
    #login_nologin,#login_logined {display: none;}
/**/
.other{font-size: 14px;position: absolute;right: 30px;bottom: 13px;z-index: 20}
    .other a{color:#fff;padding:0 8px}
    .other_beauty{border-right: #c40073 solid 1px;}
    .other .other_watsons{padding:0;}
.other .other_watsons img {vertical-align: bottom;margin:0 5px 0 0;}
.other_watsons strong{font-family: simsun;padding: 0 8px}
    .photowall_page .other {bottom:40px;position: fixed;}
/**/
.bg div{
    -webkit-transform-origin:top left;-moz-transform-origin :top left;-ms-transform-origin:top left;-o-transform-origin:top left;transform-origin:top left;
    -webkit-transform: rotate(-28deg); -moz-transform: rotate(-78deg);-ms-transform: rotate(-28deg); -o-transform: rotate(-28deg);transform: rotate(-78deg);-webkit-backface-visibility:hidden }
.bg_green{background: #71db2e;width: 100%;height: 100%;position: absolute;left:-170%;top:50%}
.bg_red{background: #ff0096;width: 100%;height: 100%;position: absolute;left:100%;top:50%;margin: 200px 0 0}

/**/
.pho_btn{position: absolute;left:50%;margin:110px 0 0 125px;top:50%;width:130px;}
    .pho_btn a,#shutter_btn{cursor:pointer;position:absolute;display:block;background: #71db2e;padding: 8px 20px 8px 11px;margin-bottom: 5px;
        box-shadow: 3px 3px 3px #5c5c5c;-webkit-box-shadow: 3px 3px 3px #5c5c5c;-moz-box-shadow: 3px 3px 3px #5c5c5c;-ms-box-shadow: 3px 3px 3px #5c5c5c;-o-box-shadow: 3px 3px 3px #5c5c5c; }
    .pho_btn a:hover {opacity:0.6!important;}
    .pho_btn a input{position: absolute;left: -999px;}
    .pho_btn #take_photo_btn {position: absolute;top:0;right:0;}
    .pho_btn #upload_photo_btn {position: absolute;top:55px;right:0;overflow: hidden;}
    .pho_btn .pho_btn_colred{background: #ff0096}
    .pho_btn #photo_repick {top:60px;}

/* Home Used 
================================================================================================= */
.home{}
    .home_main{text-align: center;height:526px;width:413px;margin:0 0 0 132px;
        box-shadow: 30px 10px 30px rgba(0,0,0,0.3);-webkit-box-shadow: 30px 10px 30px rgba(0,0,0,0.3);-moz-box-shadow: 30px 10px 30px rgba(0,0,0,0.3);-ms-box-shadow: 30px 10px 30px rgba(0,0,0,0.3);-o-box-shadow: 30px 10px 30px rgba(0,0,0,0.3)}
    .home_drag{font-size: 14px;line-height: 526px;color:#777;width:407px;height:520px;position: absolute;top: 0;left: 132px;border: 3px dashed #F3F3F3;background: #fff;display: none;}
    .home_drag.dragover{border-color: #FA028D;}
    .home_explain{background: url('../i/home_explain.png') no-repeat;width:84px;height: 252px ;position: absolute;top:50%;left:50%;margin:-258px 0 0 230px;}
    .home_ad{background: url('../i/home_ad.png') no-repeat;width: 240px;height: 308px;position: absolute;left:10px;bottom: 10px}
    .home .other_beauty{display: none}

/* step Used 
================================================================================================= */
/**/
.step{}
.step .bg_green{margin: -60px 0 0 -100px;}
.step .bg_red{margin: 340px 0 0 60px;z-index:2;}
.step .login{display: none}
/* step 1 ps */
.step_ps{padding: 10px 22px 15px 15px;width:413px;height: 526px;position: absolute;background: #71db2e;left:50%;top:50%;margin:-276px 0 0 -220px;overflow: hidden}
    .ps_pho{
        box-shadow:8px 5px 0px #a6839b;-webkit-box-shadow:8px 5px 0px #a6839b;-moz-box-shadow:8px 5px 0px #a6839b;-ms-box-shadow:8px 5px 0px #a6839b;-o-box-shadow:8px 5px 0px #a6839b; }
    .ps_pho_wrap{background: #A6839B;position: absolute;top: 10px;left: 15px;overflow: hidden;}
    .ps_pho_white {display:none;background: #fff;width:100%;height:100%;position: absolute;left:0;top:0;z-index:1;}
    .ps_cover{position: absolute;top:10px;left: 15px;}
    .ps_btn a:hover {opacity:0.6;}
    .ps_btn_center{background: url('../i/ps_btn_center.png') no-repeat;width: 65px;height: 65px;position: absolute;top:50%;left:50%;margin:-33px 0 0 -33px;}
    .ps_btn_center:hover {opacity:0.6;}
    .ps_btn_up{background: url('../i/ps_btn_up.png') no-repeat;width: 44px;height: 44px;position: absolute;right: 30px; top: 32px;}
    .ps_btn_down{background: url('../i/ps_btn_down.png') no-repeat;width: 44px;height: 44px;position: absolute;right: 30px; top:84px}
    .ps_btn_right{background: url('../i/ps_btn_right.png') no-repeat;width: 44px;height: 44px;position: absolute;right: 30px; top: 136px}
    .ps_btn_left{background: url('../i/ps_btn_left.png') no-repeat;width: 44px;height: 44px;position: absolute;right: 30px; top:188px;}
/**/
.step1_tit{background:url('../i/step1_tit.png') no-repeat; width: 167px;height: 185px;position: absolute; left:50%;top:50%;margin:-265px 0 0 -420px;}
.magazine_tit{position: absolute;border-left: #e10096 solid 12px;padding: 16px 0 20px 66px; left:50%;top:50%;margin:-245px 0 0 260px;}

/* step 2 */
.step_load{position: absolute;display:none;top: 0;bottom: 0; left: 0; right: 0;background:rgba(255,255,255,0.8);z-index: 3}
    .step_load_wrap {position: absolute;left:50%;top:0;margin:0 0 0 -186px;z-index: 3;width:372px;}
    .step_load_wrap img {position: absolute;}
    .loading_round {display:none;}
    .loading_round1 {top:224px;left:331px;}
    .loading_round2 {top:319px;left:351px;}
    .loading_round3 {top:414px;left:335px;}
    .loading_round4 {top:488px;left:275px;}
    .loading_round5 {top:527px;left:186px;}
    .loading_text {top:469px;left:140px;}

/* step 3 */
.step_succ{display:none;width: 666px;height: 510px;padding:20px 22px;background: #71db2e;position: absolute;left: 50%;top: 50%;margin:-275px 0 0 -355px;}
    .step_succ_con{background: #fff;padding:2px;height: 506px;}
    .step_succ_tit{background: #ff0096;padding:14px 0;color:#fff;font-size:22px;text-align: center}
    .step_succ_pho{float:left;margin: 10px 0 0 16px;_display: inline;
        box-shadow: 30px 10px 30px rgba(0,0,0,0.1);-webkit-box-shadow: 30px 10px 30px rgba(0,0,0,0.1);-moz-box-shadow: 30px 10px 30px rgba(0,0,0,0.1);-ms-box-shadow: 30px 10px 30px rgba(0,0,0,0.1);-o-box-shadow: 30px 10px 30px rgba(0,0,0,0.1)}
    .step_succ_pho img{display: block;   
        box-shadow:4px 4px 0px #a6839b;-webkit-box-shadow:4px 4px 0px #a6839b;-moz-box-shadow:4px 4px 0px #a6839b;-ms-box-shadow:4px 4px 0px #a6839b;-o-box-shadow:4px 4px 0px #a6839b; }
.step_succ_info{padding:60px 0 0;float: right;width: 300px}
    .step_succ_info p{text-align: center;}
    .step_succ_tip {text-indent:-9999em;background:url(../i/text_step_succ_tip.png) no-repeat;width:261px;height:210px;margin:0 0 0 10px;}
    .step_succ_tip1{color:#ff0096;font-size: 20px;line-height: 34px;font-weight: bold;}
    .step_succ_tip2{color:#ff0096;font-size:34px;line-height: 45px;}
    .step_succ_tip3{color:#747474;font-size:16px;line-height: 26px;padding:30px 0 0}
    .step_succ_tip4{color:#ff0096;font-size:26px;line-height: 40px;padding: 0 0 60px}
    .step_join_tips {background:url(../i/text_step_join_tip.png) no-repeat;width:289px;height: 196px;text-indent:-999em;}
    .step_join_tips div {display: none;}
    .step_succ_btn{padding: 8px 18px 5px 5px;display: block;background: #71db2e;margin: 0 auto;width: 156px;
        box-shadow:4px 3px 0px #5c5c5c;-webkit-box-shadow:4px 3px 0px #5c5c5c;-moz-box-shadow:4px 3px 0px #5c5c5c;-ms-box-shadow:4px 3px 0px #5c5c5c;-o-box-shadow:4px 3px 0px #5c5c5c; }
        .step_succ_btn2{background: #ff0096;margin: 10px auto;  }
    .step_succ_btn:hover {opacity:0.6!important;}
.step_back{background: #b5b5b5;padding: 5px 0 3px 5px;width:100px;position: absolute;bottom: 50px;left:-105px;}
    .step_back:hover {opacity:0.6;}
/* step 4 */
.step_log{display:none;width: 450px;height: 510px;padding:20px 22px;background: #71db2e;position: absolute;left: 50%;top: 50%;margin:-275px 0 0 -225px;}
    .step_log_con{background: #fff;padding:2px;height: 506px;text-align: center;}
    .step_log_tit{background: #ff0096;padding:14px 0;color:#fff;font-size:22px;}
    .step_log_sns{padding: 35px 0 30px 30px}
        .log_snsitem{width: 130px;height: 130px;border:#fff solid 3px;float:left;margin: 10px 30px;_display:inline;font-size: 16px;color:#9b9a9a;
            border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;}
        .log_snsitem:hover{border:#ff0096 solid 3px;color:#e10096}
        .log_snsitem img{display: block;margin: 18px auto 15px;}
    .step_logup_tit{font-size: 14px;color:#797979;font-style: italic;}
    .step_logup_btn{font-size: 14px;color:#e10096;text-decoration: underline;padding:5px 10px;display: block;}

/* step 5 */
.logreg_con{padding:63px 0 0 77px;width: 300px;}
.logreg_fi{margin: 0 0 5px;}
    .logreg_fi {height:42px;}
    .logreg_fi label{width: 60px;padding-right: 12px;text-align: right;float:left;line-height: 26px;color:#e10096;}
    .logreg_fi label.error {font-size:12px;color:#777;width:200px;text-align: left;line-height: 19px;margin-left:72px;}
    .logreg_fi .ipt_t{border: #ff0096 solid 1px;background: #ff0096;color:#fff;float: left;width: 168px;height: 24px;padding:0 5px;}
    .logreg_btn{cursor:pointer;display: block;width: 181px;height:48px;text-indent:-999em;font-size:0;color:#fff;display: block;background: #71db2e url(../i/logreg_btn.png) no-repeat center;border:none;_display:inline;margin:12px 0 0 72px;
        box-shadow: 3px 3px 0px #5c5c5c;-webkit-box-shadow: 3px 3px 0 #5c5c5c;-moz-box-shadow: 3px 3px 0 #5c5c5c;-ms-box-shadow: 3px 3px 0 #5c5c5c;-o-box-shadow: 3px 3px 0 #5c5c5c; }
    .logreg_btn:hover {opacity:0.6;}
    .logreg_tips{color:#e10096;font-size: 12px;position: absolute;left:50px;bottom: 25px;}
    .logreg_con .reg_nickname {float:left;margin-top:3px;}
/* step 6 */
    .step_join{display:none;width: 406px;height: 510px;padding:20px 22px;background: #71db2e;position: absolute;left: 50%;top: 50%;margin:-275px 0 0 -200px;}
        .step_join_con{background: #fff;padding:30px 15px 0 108px;height: 480px;font-weight: bold;}   
    .step_join_tips1{font-size: 14px;color:#e10096;line-height: 22px;}
    .step_join_tips2{color:#868686;font-size: 12px;line-height: 14px;}
        .step_join_tips2 p{padding: 6px 0}
    .step_join_tips3{color:#e10096;font-size: 16px;line-height: 24px;}
        .step_join_tips3 strong{display: block;font-size: 18px;padding: 4px 0 10px;} 
    .step_join_btn1{background: #71db2e;padding:8px 8px 5px 5px;display: block;width: 168px;margin:20px 0 10px ;
        box-shadow: 4px 3px 0px #5c5c5c;-webkit-box-shadow: 4px 3px 0 #5c5c5c;-moz-box-shadow: 4px 3px 0 #5c5c5c;-ms-box-shadow: 4px 3px 0 #5c5c5c;-o-box-shadow: 4px 3px 0 #5c5c5c; }
    .step_join_btn1:hover {opacity: 0.6!important;}
    .step_join_btn{background: #ff0096;width: 182px;padding:12px 0;color:#fff;font-size: 14px;display: block;margin-bottom: 5px;text-align: center;}
    .step_join_btn:hover {opacity: 0.6!important;}
    .step_join_rule{color:#e10096;font-weight: bold;text-decoration: underline;position: absolute;right: 38px;bottom:32px}
    .step_join_rule:hover {opacity: 0.6!important;}
    .product_ad{width: 300px;height: 404px;position: absolute;top:-114px;left:-190px;}
    .product_ad_bg {position: absolute;bottom:0;}
    .product_ad_new {position: absolute;bottom:199px;left:0;}
    .product_ad_product {position: absolute;bottom:0;right:-5px;}
    .product_ad_tit {position: absolute;bottom:102px;left:15px;}

.step_sharefriends{display:none;width: 406px;height: 510px;padding:20px 22px;background: #71db2e;position: absolute;left: 50%;top: 50%;margin:-275px 0 0 -200px;}
    .photowall_page .step_sharefriends {position: fixed;}
    .step_sharefriends #friend_list li {cursor:pointer;float:left;height: 30px;overflow: hidden;width:169px;margin:3px 7px;border:2px solid #eee;}
    .step_sharefriends #friend_list li.selected,.step_sharefriends #friend_list li:hover {border:2px solid #71db2e;background: #71db2e;color:#fff;}
    .step_sharefriends #friend_list li .avatar {float:left;}
    .step_sharefriends #friend_list li .name {float:left;width:125px;line-height:30px;text-align: left;margin:0 0 0 5px;word-break:break-all;}
    .friend_list_wrap {height:240px;width:390px;margin:10px 0 0 3px;}
    #share_body {width:266px;height:88px;margin:0 0 0 10px;float:left;resize:none;border:1px solid #e10096;margin-top:10px;padding:5px;color:#555;font-size:12px;}
    .step_sharefriends .share_img {float:left;width:100px;height:100px;overflow: hidden;margin:10px 0 0 5px;}
#btn_sharefriend{cursor:pointer;display: block;width: 181px;height:48px;text-indent:-999em;font-size:0;color:#fff;display: block;background: #71db2e url(../i/succ_share.png) no-repeat center;border:none;_display:inline;margin:12px auto 0 auto;
    box-shadow: 3px 3px 0px #5c5c5c;-webkit-box-shadow: 3px 3px 0 #5c5c5c;-moz-box-shadow: 3px 3px 0 #5c5c5c;-ms-box-shadow: 3px 3px 0 #5c5c5c;-o-box-shadow: 3px 3px 0 #5c5c5c; }
    #btn_sharefriend:hover {opacity:0.6;}
    .step_sharefriends2 {display: none;}
    .step_sharefriends2 .step_join_btn,.step_sharefriends2 .step_join_btn1 {margin:10px auto;}
    .step_sharefriends_tip1 {margin:70px 0 75px 0;}

/* list Used 
================================================================================================= */
/**/
.photowall_page .main {position: relative;min-height: 89%;z-index:1;}
.photowall_page .list {min-height: 100%;}
.photowall_page .bg_green {position: absolute;top:-190px;left:-1000px;width:1000px;height:1000px;}
.photowall_page .bg_red {position: fixed;bottom:-999px;right:-450px;left:auto;top:auto;width:1000px;height:1000px;}
.list .login{display: none}
/*  list_con */
.list_con{width:1000px;z-index: 10;margin:0 auto;padding:0 0 90px 0;position:relative;top:22px;}
/* */
.list_btn{}
.list_btn a{background: #71db2e;padding:6px 6px 4px;float: left;margin-right: 8px;_display: inline;
    box-shadow: 5px 3px 0px #5c5c5c;-webkit-box-shadow: 5px 3px 0 #5c5c5c;-moz-box-shadow: 5px 3px 0 #5c5c5c;-ms-box-shadow: 5px 3px 0 #5c5c5c;-o-box-shadow: 5px 3px 0 #5c5c5c; }
    .list_btn .list_btn2{background: #ff0096}
    .link_fillinfo {display: none;}
    .list_btn a:hover {opacity:0.6!important;}
/* list_listnav */
.list_listnav{position: absolute;right: 0;top: 0;}
    .list_listnav a{float: left;background: #b1b1b1;color: #fff;font-size: 14px;padding: 13px 26px;margin-left:5px;
        box-shadow: 2px 2px 0px #e10096;-webkit-box-shadow: 2px 2px 0 #e10096;-moz-box-shadow: 2px 2px 0 #e10096;-ms-box-shadow: 2px 2px 0 #e10096;-o-box-shadow: 2px 2px 0 #e10096; }        
    .list_listnav a.on,.list_listnav a:hover{float: left;background: #ff0096;color: #fff;
        box-shadow: 2px 2px 0px #b1b1b1;-webkit-box-shadow: 2px 2px 0 #b1b1b1;-moz-box-shadow: 2px 2px 0 #b1b1b1;-ms-box-shadow: 2px 2px 0 #b1b1b1;-o-box-shadow: 2px 2px 0 #b1b1b1; }
    .list_listnav .link_my {display: none;}
/* lsit_explain */
.lsit_explain{text-align:left;background:url(../i/text_lsit_explain.png) no-repeat center;width:546px;height:60px;text-indent:-999em;color:#6a696a;line-height: 22px;margin: 25px auto;}
    .lsit_explain p {display: none;}
    .lsit_explain1{font-size: 16px;}
    .lsit_explain2{font-size: 14px;padding:4px 0;font-weight: bold}
/* pho_list */
.pho_list{width: 1100px;}
    .pho_item{float: left;width:192px;margin-right:83px;margin-bottom:50px;_display: inline;opacity:0;}
        .pho_name{color:#000}
        .pho_time{color:#999;font-size:10px;padding:0 0 14px;}
        .pho_img{position:relative;overflow:hidden;margin:0 0 10px;height:227px;width:177px;background:#fff;padding:5px;border:1px solid #ddcfd9;cursor:pointer;box-shadow: 3px 3px 0px #ddcfd9;-webkit-box-shadow: 3px 3px 0 #ddcfd9;moz-box-shadow: 3px 3px 0 #ddcfd9;ms-box-shadow: 3px 3px 0 #ddcfd9;o-box-shadow: 3px 3px 0 #ddcfd9}
        .pho_img:hover {opacity:0.6;}
        .pho_img img{}
        .pho_votenum{cursor:pointer;position:relative;float:left;font-size: 14px;color:#888;background: url('../i/pho_votenum.png') no-repeat left top;padding-left:22px;}
        .pho_votebtn{cursor:pointer;float:right;font-size: 13px;color:#e10096;background:#fff;border:#eee solid 2px;width:60px;height: 22px;line-height: 22px;text-align: center;font-weight: bold;}
        .pho_votebtn:hover {background: #e10096;color:#fff;}
        .pho_vote_hover {background:url(../i/pho_votenum2.png) no-repeat;width:17px;height:20px;position: absolute;left:1px;top:-1px;display: none;}
        .pho_votenum:hover {opacity: 0.6;}
        .pho_vote_b {background:url(../i/pho_vote_b.png) no-repeat;width:116px;height:116px;position: absolute;bottom:0;left:40px;}
        .pho_picCon .pho_vote_b {left:210px;}
/* personal */
.personal_nav{border-bottom:#f6f6f6 solid 2px;margin-bottom:20px;font-size:14px;line-height: 35px;}
    .personal_nav span{padding-right: 30px;color:#000} 
    .personal_nav a{padding:0 18px;border-left:#ececec solid 1px;color:#a2a2a2;font-weight: bold;}
    .personal_nav .on{color:#e10096}
/* */
.personal .pho_name,
.personal .pho_time,
.personal .pho_votebtn{display: none}

/* pho_picture */
.pho_picture{background: rgba(255,255,255,0.9);position: absolute;top:0;bottom: 0;left: 0;right: 0;z-index: 10}
    .pho_picCon{display:none;z-index:110;position: fixed;left:50%;top:50%;margin: -230px 0 0 -280px;padding: 0}
        .pho_picCon .pho_picImg{background:#fff;padding:5px;border:1px solid #ddcfd9;float:left; max-height:653px;min-height:420px;
            -webkit-user-drag:none;-moz-user-select:none;-ms-user-select:none;
            box-shadow: 4px 4px 0px #ddcfd9;-webkit-box-shadow: 4px 4px 0 #ddcfd9;-moz-box-shadow: 4px 4px 0 #ddcfd9;-ms-box-shadow: 4px 4px 0 #ddcfd9;-o-box-shadow: 4px 4px 0 #ddcfd9; }
        .pho_pic_inro{float:left;width:156px;margin:0 0 0 50px;}
            .phoPic_close{background:url(../i/phoPic_close.png) no-repeat;width: 26px;height: 26px; display: block;margin-bottom:28px;}
            .phoPic_close:hover {opacity:0.6;}
            .pho_pic_inro .pho_votenum{float:none}
            .phoPic_vote,.phoPic_share{display: block;padding: 12px 0;text-align:center;background: #71db2e;margin:18px 0 0;width:155px }
            .phoPic_share {display: none;}
            .phoPic_vote:hover,.phoPic_share:hover {opacity: 0.6;}
            .phoPic_voted_text {margin-top:20px;display: none;}
            .phoPic_n{background: url('../i/phoPic_n.png') no-repeat;height: 29px;width: 29px;display: block;margin:130px 0 22px 0}
            .phoPic_p{background: url('../i/phoPic_p.png') no-repeat;height: 29px;width: 29px;display: block;}
            .phoPic_vote_succ{font-size: 25px;color:#e10096;padding:30px 0 0;display: block;height: 37px;}
            .pho_picCon .keytips {display: none;margin-top:10px;color:#888;}

/* popup */
.overlay,.overlay_photo {display:none;width:100%;height:100%;position: fixed;top:0;left:0;background:rgba(255,255,255,0.9);z-index:121;}
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .overlay,.overlay_photo  {background:rgba(255,255,255,0.4);}
    }
    .overlay_photo {z-index: 100;}
    #pop_voted_failed {background:url(../i/pop_vote_error.gif) no-repeat;width:429px;height:278px;padding:1px 0 0;}
    .cover_pop {display:none;position: fixed;top:50%;left:50%;margin-top:-140px;margin-left:-210px;z-index:122;}
    .cover_pop .failed_text {color:#e10096;font-size:16px;text-align: center;margin-top:135px;}
    .cover_pop_close {cursor:pointer;background:url(../i/phoPic_close.png) no-repeat;width:26px;height:26px;top:-35px;right:0;position: absolute;}
    .cover_pop .failed_text p {display: none;}
    .cover_pop .failed_text1 {background: url(../i/text_vote_failed_text1.png) no-repeat center;width:100%;height:68px;text-align: left;text-indent:-999em;}
    .cover_pop .failed_text2 {background: url(../i/text_vote_failed_text2.png) no-repeat center;width:100%;height:68px;text-align: left;text-indent:-999em;}
    .cover_pop .failed_text3 {background: url(../i/text_logout.png) no-repeat center;width:100%;height:68px;text-align: left;text-indent:-999em;}
    .cover_pop .failed_text4 {background: url(../i/text_registered.png) no-repeat center;width:100%;height:68px;text-align: left;text-indent:-999em;}
    .pop_login {position: fixed;}
    .pop_rule {position: fixed;}
    .pop_rule_text {padding:20px 30px;}
    .pop_rule_text p {text-align: left;margin:0 0 15px 0;}

/* for camera */
.camera{position: absolute;width: 100%;height: 100%;z-index: 1;}
    .camera_wrap {width:413px;height:526px;overflow: hidden;position: absolute;top:0;}
    .camera_wrap video {margin-left:-160px;}
    #shutter_btn {display:none;right:95px;bottom:88px;width:145px;background: #71db2e;padding: 8px 8px 4px;margin-bottom: 5px;
    box-shadow: 3px 3px 3px #5c5c5c;-webkit-box-shadow: 3px 3px 3px #5c5c5c;-moz-box-shadow: 3px 3px 3px #5c5c5c;-ms-box-shadow: 3px 3px 3px #5c5c5c;-o-box-shadow: 3px 3px 3px #5c5c5c; }

.camera_help{position: absolute;display:none;top: 0;bottom: 0; left: 0; right: 0;background:rgba(255,255,255,0.8);z-index: 30}
.camera_help img{position: absolute;left:50%;top:0;margin:0 0 0 -186px;z-index: 3}
#step1 {position: absolute;
left: 50%;
margin-left: -349px;
height: 100%;
width: 700px;}
#step1_flash {position: relative;z-index:2;text-align: center;}
#step1_flash_player {margin-left:100px;}
#step1_html5 {width:700px;height:557px;position: relative;}

.animated a,
.main,
.step_sharefriends #friend_list,
.pho_img,
.pho_votenum,
.pho_votebtn,
.step_succ_btn,
.logreg_btn
{-webkit-transition:   all 0.3s ease;-moz-transition:  all 0.3s ease;-o-transition:  all 0.3s ease;-ms-transition:  all 0.3s ease;transition:  all 0.3s ease;}

.pho_cover{position: absolute;right: 41px;top: 14px;}
    .pho_cover li{margin-bottom: 10px;cursor: pointer;position: relative;}
    .pho_cover li .line {position: absolute;width:5px;height:70px;left:5px;display: none;}
    .pho_cover li.active .line {display: block!important;}
@media screen and (max-width:1600px){
    .list_listnav {right:100px;}
    .nav a {padding:0 18px;}
    .nav {margin-left:20px;}
    .logo {margin-left:15px;}
}
@media screen and (max-width:1200px){
    .list_listnav {right:100px;}
    .nav a {padding:0 18px;}
    .nav {margin-left:20px;}
    .logo {margin-left:15px;}
}
@media screen and (max-width:1050px){
    .nav a {padding:0 14px;}
    .nav {margin-left:15px;}
    .share a {width:35px;}
    .share_box {width:238px;}
    .share_tit2 {left:185px;}
    .share .gz_weibo {margin-left:10px;}
    .share_gz {width: 152px;}
    .logo {margin-left:10px;}
    .list_con {width:960px;}
    .pho_list {width:1037px;}
    .pho_item {margin-right:67px;}
}
@media screen and (max-width:960px){
    .list_listnav {right:160px;}
    .header {min-width: 928px;}
}
@media screen and (max-width:900px){
    .list_con {width:95%;}
    .pho_list {width:100%;}
    .pho_item {margin-right:52px;}
}