@charset "utf-8";
/*
 *   2013 10 
 */


/*IE*/
/* transfrom bg */
.bg_green{background: url('../i/bg_green.png') no-repeat;width:622px;height: 640px;top:0;left:0;margin: 0;bottom:auto;right:auto;}
.bg_red{background: url('../i/bg_red.png') no-repeat;width:630px;height: 488px;bottom:0;right:0;margin: 0;left:auto;top:auto;}


.step .bg_green{top:-150px;left:-50px;margin:0;}
.step .bg_red{margin:0;right:-100px;bottom:-150px;}

.list .bg_green{top:0;left:0;margin:0;background: url('../i/bg_green2.png') no-repeat;width:487px;height:257px;top:90px;position: fixed;}
.list .bg_red{margin:0;right:0px!important;bottom:0px!important;background: url('../i/bg_red2.png') no-repeat right bottom;width:630px;height:231px;}

/* shadow */
.header{background:#fff;border-bottom:4px solid #ccc;height:90px;min-width:1000px;}
.nav{_height: 90px;overflow: hidden}
.nav a{_padding: 28px 28px 0}
.nav .active span{background: url('../i/IEnavonbg.png') no-repeat bottom right;top: 0;height: 90px;_height: 118px;left: 0;right: 0;width: 130px}
.nav a {padding:0 14px;}
.nav {margin-left:15px;}
.share a {width:35px;}
.share_box {width:238px;}
.share_tit2 {left:185px;}
.share .gz_weibo {margin-left:10px;}
.share_gz {width: 152px;}
.logo {margin-left:10px;}

    /*index*/
    .home_main{border:#a0a0a0 solid;border-width: 0 8px 5px 0 }
    .step1_flash {display:block!important;filter:alpha(opacity=100)!important;}
    .pho_btn a{border:#5c5c5c solid;border-width: 0 4px 4px 0 }
    /*list*/
    .list_listnav {right:400px;}
    .list_btn a{border:#5c5c5c solid;border-width: 0 5px 3px 0 }
    .list_listnav a{border:#e10096 solid;border-width: 0 2px 2px 0 }
    .list_listnav a.on{border:#b1b1b1 solid;border-width: 0 2px 2px 0 }
    .pho_img img{border:#a6839b solid;border-width: 0 3px 2px 0 }
    .pho_picImg{border:#a6839b solid;border-width: 0 6px 4px 0 }
    /*step*/
    .ps_pho{border:#a6839b solid;border-width: 0 8px 5px 0 }
    .step_succ_btn{border:#5c5c5c solid;border-width: 0 4px 3px 0 }
    .step_succ_pho img{border:#a0a0a0 solid;border-width: 0 6px 4px 0 }
    .logreg_btn{border:#5c5c5c solid;border-width: 0 4px 3px 0 }
    .step_join_btn1{border:#5c5c5c solid;border-width: 0 4px 3px 0 }

/* opacity */
.pho_picture{background: url('../i/IEopacitybg.png') repeat;}

/*other*/
.logreg_btn{*margin-left:30px;}
.phoPic_vote_succ{*line-height: 27px}
.overlay_photo,.overlay {background: #fff;filter:alpha(opacity=80)!important; }
.step_load_uglyie_overlay {background: #fff;filter:alpha(opacity=80)!important;width:100%;height:2000px;}
.step_load_wrap {margin-top:-100px;}

/*IE6*/
body{_height: 100%}
.footer{_position: absolute;bottom:0;}
.img_shadow{display:block}
.share_tit2{_width:70px;}
*html .nav a {line-height: 50px;height:62px;}
*html .step_load {width:100%;}
*html .login {text-align: right;}
*html .step_log {position: absolute;}
*html .overlay_photo,.overlay {position: absolute;}
*html .photowall_page .footer {position: relative;}
*html .list .bg_red,.list .bg_green {display: none!important;}
*html .photowall_page .main {top:0;}
*html .pho_picCon {position: absolute;}


/* below 1024 */
.below1024 .share_tit1,.below1024 .share_tit2 {display: none;}
.below1024 .share a {margin-top:14px;}
.below1024 .gz_weibo {margin-top:8px;}
.below1024 .logo {height:48px;}
.below1024 .nav a {line-height: 60px;}
.below1024 .header {height:60px;}
.below1024 .share_box {height:60px;}
.below1024 .main {top:60px;}
.below1024 .product_ad {top:-40px;}
.below1024 .other a.other_watsons {display: block;text-align: right;margin:10px 0 0;}