.main{top: 0;width: 940px;left: 50%;margin-left: -470px;}
.bg_green{top: -12%;}
.sina_home .bg_red {top:67%;}

.camera_wrap_inner{overflow: hidden; height: 310px;width: 550px;position:relative; z-index: 1;border: 16px solid #71DC2E;
    border-top: 0;}
.camera_wrap_inner video{z-index: 1;}
.camera_wrap_inner canvas{z-index: 0;}
.camera_wrap{overflow: visible; left:50%;margin-left: -291px;height: 310px;
width: 550px;top: 50%;
margin-top: -160px;}
.camera_wrap:before{
    position: absolute;
    content: '';
    width: 582px;
    height: 44px;
    background: url(../image/tphoto-sina.jpg) no-repeat;
    top: -50px;
    left: 0px;
    z-index: 1;
}
.camera_wrap:after{
    position: absolute;
    content: '';
    width: 582px;
    height: 372px;
    background: #9d9b9c;
    left: 13px;
    z-index: 0;
    top: -30px;
}
#sina-ad1{
    position: absolute;
    display: none;
    bottom: 10px;
    left: 10px;
    top: auto !important;
}
#shutter_btn {display:none;right: 147px;background: none;
bottom: -113px;width:145px;padding: 8px 8px 4px;margin-bottom: 5px;
    box-shadow: 0 0 0 #5c5c5c;-webkit-box-shadow: 0 0 0 #5c5c5c;-moz-box-shadow: 0 0 0 #5c5c5c;-ms-box-shadow: 0 0 0 #5c5c5c;-o-box-shadow: 0 0 0 #5c5c5c; 
}

.photo_taking{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}
.photo_taking .home_main_con{display: none;}
.cancel_camera{position: absolute;
height: 34px;
top: -85px;
right: -32px;}

.camera-right, .camera-left{position: absolute;
width: 154px;
height: 100%;
background: rgba(0, 0, 0, 0.4);
z-index: 2;
}
.camera-right{right: 0;}


#choose_btn{display: none;position: relative;
bottom: -40px;}
#choose_btn img{margin: 0 35px;cursor: pointer;}

/*countdown*/
.countdown{
    display: none;
    position: absolute;
bottom: 15px;
width: 66px;
height: 66px;
background: #71DC2E;
left: 50%;
z-index: 2;
border-radius: 100px;
line-height: 66px;
font-size: 38px;
color: #FF0096;
margin-left: -33px;}

.photowall_page .main {top:10px;}
.pho_list {width:600px;margin-left:250px;}
.pho_item {margin-right:107px;}
.list_btn {margin:0 250px;}

.pop_sinalogin {background: #fff;box-shadow: 0px 0px 10px #555;border:5px solid #fff;width:640px;height:360px;margin-left:-320px;z-index:203;}
.sina_close {position: absolute;top:-23px;right:-22px;cursor: pointer;}
#step2 .step_back {bottom:-41px;left:20px;}
#step2 .btn_download {position: absolute;width:99px;height:35px;left:134px;bottom:-42px;}
.lsit_explain {background: url(../i/text_lsit_explain_sina.png) no-repeat;margin:25px 0 25px 249px;}
.list_listnav {position: relative;width:400px;top:auto;left:auto;right:auto;margin:15px 0 0 245px;text-align:left;}
.list_listnav a {padding:9px 26px;}
#step1_flash .step1_tit {display: none;}


.sina_home.below1024 .main {top:0;}
.sina_photowall.below1024 .bg_green{top:0;}
.sina_photowall .bg_green{top:0;}
.sina_photowall .list_listnav {right:auto;}

#step1_html5 {height:600px;}
.step_ps {margin:-314px 0 0 -220px}
#step1_photo .pho_btn {margin:0;top:auto;left:auto;bottom:50px;left:130px;}
.pho_btn {margin:73px 0 0 125px;}
.pho_btn #photo_repick {top:0;left:160px;}
.pho_cover {right:23px;top:-14px;}
.pho_cover li .line {height:94px;width:7px;}


@media screen and (max-height:690px){

    .other a.other_rule {margin-bottom:-19px;}
    .other .other_beauty {margin:0 0 15px;}
}